.page_404{
	padding: 0;
	header{
		margin-bottom: 30px;
		@media (max-width: 767px){
			margin-bottom: 15px;
		}
	}
	.title_404{
		margin-top: 0;
		font-family: 'PT Serif';
		font-size: 36px;
		color: #ebebeb;
		margin-bottom: 25px;
		text-align: center;
		letter-spacing: 0.9px;
		@media (max-width: 630px){
			font-size: 18px;
			margin-bottom: 5px;
			margin-top: 0;
		}
	}
	.link_404{
		margin: 0 auto;
		width: 200px;
		display: block;
		text-align: center;
		color: #e5b972;
		z-index: 20;
		font-family: 'HelveticaNeueCyr Bold';
		font-size: 15px;
		border: 1px solid #fff;
		line-height: 38px;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-decoration: none;
		position: relative;	
		color: #e5b972;

		transition: all 0.3s ease-in-out;
		@media (max-width: 630px){
			font-size: 12px;
			letter-spacing: 1.6px;
			letter-spacing: 0.5px;
		}
	    &:hover{
	    	color: #e5b972;
	    	-webkit-text-fill-color: #e5b972;
	    	background-image: none;
				color: #e5b972;
				-webkit-text-fill-color: #e5b972;
				background-image: transparent;
				box-shadow: 0 3px 15px 0 #e5b972;
				border-color: #e5b972;
	    }
	    /* &:after{
	    	width: 25px;
	    	height: 2px;
	    	background: #e5b972;
	    	position: absolute;
	    	right: -40px;
	    	top: 8px;
	    	content: "";
	    	-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	    } */
	}

	.link_404_visible-mobile {
		@media (max-width: 1200px){
			display: none;
		}
	}

	.link_404_visible-tablet {
		display: none;
		@media (max-width: 1200px){
			display: block;
			margin-bottom: 90px;
		}
	}

	.content_404{
    	display: flex;
	    align-items: center;
	    justify-content: space-between;
	    padding: 7vw 0;
	    .char_404{
	    	color: #ebebeb;
	    	font-family: 'Playfair Display Bold';
	    	font-size: 35vw;
	    	width: 30%;
	    	float: left;
	    	text-align: center;
	    	height: 16vw;
	    }
	    img{
	    	width: 34%;
				margin-left: auto;
				margin-right: auto;
	    	display: inline-block;
	    }
    }
}