@import "mixin";

.about_page {
  padding: 0;
  background: url(../images/services_bg.jpg) no-repeat;
  background-size: cover;

  .b_about_us {
    padding: 63px 0 75px;
    background: url(../images/cooperation_service_bg.jpg) no-repeat;
    background-size: cover;
    @include adaptive(1200px){
      padding: 60px 0;
    }
    @include adaptive(767px){
      padding: 30px 0;
    }
  }

  .b_partners{
    padding: 110px 0 50px 0;
    @include adaptive(1200px){
      padding: 15px 0 50px;
    }
  }

  .container-fluid {
    padding-left: 15px;
  }

  header {
    margin-bottom: 0;
    border: none;
  }


  .about-company-col {
    @include adaptive(1023px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    @include adaptive(630px) {
      flex-direction: column;
    }
  }

  .about-image-col {
    width: 50%;
    @include adaptive(1023px) {
      order: 0;
    }
  }

  .about__company {
    width: 100%;
    @include adaptive(1023px) {
      width: 54%;
      padding-left: 40px;
    }
    @include adaptive(630px) {
      width: 100%;
      padding-left: 20px;
    }
  }

  .about__title {
    position: relative;
    margin: 0 0 36px 0;
    padding-bottom: 29px;
    font-family: 'PT Serif';
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #ebebeb;
    letter-spacing: 0.9px;
    @include adaptive(1023px) {
      font-size: 24px;
      line-height: normal;
      padding-bottom: 0;
      margin-bottom: 20px;
    }
    
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 2px;
      background-color: #979797;
      @include adaptive(1023px) {
        display: none;
      }
    }
  }

  .about__imgbox {
    padding-top: 8px;
    @include adaptive(1023px) {
      display: none;
    }
  }

  .about__imgbox-tablet {
    width: 45%;
    @media (min-width: 1023px){
      display: none;
    }
    @include adaptive(630px) {
      width: 100%;
      height: 180px;
      overflow: hidden;
      margin-bottom: 15px;
    }
  }

  .about_img {
    display: block;
    max-width: 100%;
    height: auto;
    @include adaptive(630px) {
      margin: 0 auto;
    }
  }

  .about__detail {
    margin-bottom: 47px;
    @media (max-width: 1023px){
      margin-bottom: 0;
    }
  }

  .about__item {
    font-family: 'HelveticaNeueCyr Medium';
    margin-bottom: 18px;
    display: flex;
    align-items: baseline;
    @include adaptive(1023px) {
      flex-direction: column;
      margin-bottom: 8px;
    }

    &:after{
      display: table;
      content: "";
      clear: both;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .about__definition {
    width: 200px;
    color: #ebebeb;
    font-size: 18px;
    margin-right: 25px;
    font-family: 'HelveticaNeueCyr Medium';
    @include adaptive(1023px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 4px;
    }
    @include adaptive(640px) {
      color: #e5b972;
    }
  }

  .about__info {
    width: 58%;
    font-size: 14px;
    line-height: 24px;
    font-family: 'HelveticaNeueCyr Roman';
    color: #e5b972;
    @include adaptive(1023px) {
      width: 100%;
      margin-right: 0;
      padding-left: 35px;
    }
    @include adaptive(640px) {
      color: #ebebeb;
    }
    @include adaptive(630px) {
      font-size: 12px;
      padding-left: 0;
    }

    ul {
      margin-bottom: 0;
      @include adaptive(1023px) {
        margin-left: -17px;
      }
    }

    li {
      list-style: none;
      position: relative;
      margin-bottom: 20px;
      padding-left: 25px;
      @include adaptive(480px) {
        padding-left: 20px;
      }

      &:before {
        left: 0;
        top: 8px;
        content: "";
        width: 8px;
        height: 8px;
        margin-top: -6px;
        background-image: linear-gradient(90deg, rgba(130, 109, 53, 0.7), rgba(229, 185, 114, 0.7) 50%);
        border-radius: 50%;
        position: absolute;
        @include adaptive(1023px) {
          margin-top: -3px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .about__service{
    @include adaptive(1023px) {
      margin-top: 65px;
      padding: 0 20px;
    }
    @include adaptive(1023px) {
      width: 100%;
      margin-top: 20px;
    }

    p {
      width: 79%;
      font-family: 'HelveticaNeueCyr Medium';
      font-size: 18px;
      line-height: 26px;
      margin: 0px;
      @include adaptive(1200px) {
        width: 100%;
      }
      @include adaptive( 630px) {
        font-size: 14px;
        letter-spacing: 0.21px;
        line-height: 20px;
      }
    }
  }
  
  .about_subtitle {
    width: 67%;
    margin: 0 0 13px 0;
    font-family: 'HelveticaNeueCyr Medium';
    font-size: 18px;
    line-height: 26px;
    color: #ebebeb;
    @include adaptive(1200px) {
      width: 100%;
    }
    @include adaptive(1023px) {
      margin-bottom: 27px;
    }
    @include adaptive(630px) {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.21px;
      margin-bottom: 19px;
    }

  }

  .about__list-service {
    margin-bottom: 13px;
    
    li {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 30px;
      list-style: none;
      font-family: 'HelveticaNeueCyr Roman';
      color: #bdbcbc;
      font-size: 18px;
      line-height: 29px;
      margin-bottom: 3px;
      letter-spacing: 0.27px;
      @include adaptive( 763px){
        font-size: 14px;
        line-height: 22px;
      }
      
      &:before {
        content: "";
        position: absolute;
        left: 3px;
        top: 50%;
        margin-top: -6px;
        width: 8px;
        height: 8px;
        background-image: linear-gradient(90deg, rgba(130, 109, 53, 0.7), rgba(229, 185, 114, 0.7) 50%);
        border-radius: 50%;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .about-partners-imgbox {
    padding-top: 8px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .about__partners-title {
    margin: 0 0 36px 0;
    padding-left: 45px;
    font-family: 'PT Serif';
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #ebebeb;
    letter-spacing: 0.9px;
    @include adaptive(1023px) {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 15px;
      padding-left: 0;
      text-align: center;
    }
  }

  .about__partners-list {
    margin-bottom: 46px;
    padding-bottom: 10px;
    padding-top: 30px;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
  }


  .partners_title{
		font-family: 'Playfair Display Bold';
		font-size: 20px;
		color: #ebebeb;
		margin-bottom: 25px;
  }
  
	.about__partners_description{
		width: 80%;
		@include adaptive(1023px){
      width: 100%;
      padding: 0 20px;
    }
    
		p {
      width: 90%;
      font-family: 'HelveticaNeueCyr Roman';
      font-size: 16px;
      line-height: 24px;
      padding-left: 45px;
      color: #bdbcbc;
      @include adaptive(1023px){
        width: 100%;
        padding-left: 0;
        text-align: center;
        letter-spacing: 0.24px;
      }
      @include adaptive(1023px){
        font-size: 14px;
        line-height: 20px;
      }

			span{
				color: #fff;
			}
		}
	}
}