.article_page{
	padding-top: 0;
	@media (min-width: 1200px){
		padding-bottom: 200px;
	}
	.wrap_img{
		width: 100%;
		height: 375px;
		overflow: hidden;
		float: left;
		@media (max-width: 980px){
			height: auto;
		}
	}
	.article_text_left{
		width: 35%;
		float: left;
		margin-right: 45px;
		margin-bottom: 20px;
		@media (max-width: 767px){
			margin-right: 0;
			float: none;
			width: 100%;
			overflow: hidden;
		}
	}

	.title_page{
		font-family: 'Playfair Display Bold';
		color: #ebebeb;
		font-size: 32px;
		margin-top: 0;
		line-height: 20px;
		margin-bottom: 40px;
		@media (max-width: 767px){
			font-size: 25px;
		}
	}
	p{
		color: #bdbcbc;
		font-size: 18px;
		margin-bottom: 30px;
		line-height: 20px;
		@media (max-width: 767px){
			font-size: 12px;
		}
	}
	.article_text_right{

	}
}