.b_catalog_filters {
  background: #292929;
  padding-left: 90px;
  max-width: 400px;
  position: relative;
  padding: 0px  0 30px 0!important;
  -webkit-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
  -moz-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
  box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    @media (max-width: 1500px){
        padding-left: 25px;
    }
    @media (max-width: 1200px){
      padding-bottom: 0;
      margin-bottom: 30px;
      padding: 8px 0 8px 0 !important;
      overflow: visible;
      width: 315px;
      margin-left: -15px;

    &.active {
      .catalog__icon,
      .catalog__btn:before {
        opacity: 1;
      }

      &:before {
        display: block;
      }
    }
    @media (max-width: 480px){
      width: 300px;
    }
  }

  > div {
    padding-left: 0;
    &:before {
      display: none;
    }
  }

  &.fix_menu{
    background: transparent;
    box-shadow: none;
    //height: 100%;
    //overflow-x: hidden;

    &:before{
      display: none;
    }
  }

  .title_catalog_filters {
    position: relative;
    font-size: 32px;
    color: #ebebeb;
    padding: 18px 0px;
    font-family: 'HelveticaNeueCyr Roman';
    margin: 0 45px 0 45px;
    border-bottom: 1px solid #c7c7c7;
    cursor: pointer;
    transition: margin 0.3s ease-in-out, color 0.3s ease-in-out;
    @media (max-width: 1200px){
      margin-bottom: 0;
      padding: 13px 0;
      position: relative;
      font-size: 18px;
    }
    @media (max-width: 767px){
      font-size: 24px;
    }

    &:hover {
      color: #e5b972;
    }

    &:hover:after,
    &:hover:before {
      border-color: #e5b972;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      border-right: 0;
      border-top: 0;
      border: 2px solid #fff;
      width: 9px;
      height: 9px;
      transition: margin 0.2s ease-in-out;
      border-left: 1px;
      border-bottom: 1px;
      transform: translateY(-50%) rotate(45deg);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      @media (max-width: 767px){
        width: 9px;
        height: 9px;
        border-width: 2px;
      }
    }

    &:before {
      right: 0px;
    }

    &:after {
      right: 10px;
    }

    &.active,
    &.active-default {
      color: #e5b972;
      @media (max-width: 1200px){
        margin-top: 81px;
      }

      &:before,
      &:after {
        border-color: #e5b972;
        transform: translateY(-50%) rotate(225deg);
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      font-family: 'HelveticaNeueCyr Roman';

      &:hover{
        color: #e5b972;
      }
    }
  }

  .wrap_filters_slide{
    padding-left: 45px;
    padding-right: 45px;
    @media (max-width: 1200px){
      display: none;
      padding-bottom: 15px;
      position: absolute;
      background: #292929;;
      padding-left: 45px;
      width: 100%;
      left: 0;
      z-index: 99;
      margin-top: 2px;
      -webkit-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
      -moz-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
      box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    }
  }

  .filter {
    padding: 16px 0px;
    border-bottom: 1px solid #4a4a4a;
    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      border-color: transparent;
    }

    .title_filter {
      margin: 0;
      width: 100%;
      font-size: 20px;
      letter-spacing: 1px;
      font-family: 'HelveticaNeueCyr Roman';
      color: #e5e5e5;
      position: relative;
      display: inline-block;
      padding-right: 20px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      @media (max-width: 1200px){
        font-size: 18px;
      }
      @media (max-width: 767px){
        font-size: 16px;
      }

      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0;
        border-color: #fff transparent transparent;
        transition: border-color 0.3s ease-in-out;
        top: 50%;
        right: 0;
        margin-top: -2.5px;
        @media (max-width: 1200px){
          top: 7px;
        }
      }

      &.active {
        margin-bottom: 10px;
        @media (max-width: 767px){
        margin-bottom: 6px;
        }
      }
      &.active,
      &:hover {
        color: #e5b972;
        &:after {
          border-color: #e5b972 transparent transparent;
        }
      }

      &.active {
        &:after {
          transform: rotate(180deg);
          border-color: #e5b972 transparent transparent;
        }
      }
    }

    .dropdown_list,
    .dropdown_list_second_lvl {
      list-style: none;
      display: none;

      .category_filter {
        font-size: 16px;
        line-height: 30px;
        color: #bdbcbc;
        cursor: pointer;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        @media (max-width: 1500px){
          font-size: 15px;
        }
        @media (max-width: 1200px){
          font-size: 14px;
        }
        @media (max-width: 767px){
          font-size: 12px;
        }

        &.active, &:hover {
          color: #e5b972;
        }

        &.dropdown {
          padding-left: 20px;
          padding-bottom: 7px;
          padding-right: 12px;
          box-sizing: border-box;
          border-bottom: 1px solid transparent;
          transition: border-color 0.2s ease-in-out;
          width: 100%;
          display: inline-block;
          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 4px 0;
            border-color: #fff transparent transparent;
            right: 0px;
            top: 50%;
            margin-top: -7px;
            transition: 0.2s ease-in-out;
          }

          &:hover:after {
            border-color: #e5b972 transparent transparent;
          }

          &.in {
            &:after {
              transform: rotate(180deg);
            }
          }
        }

        &.dropdown.active {
          border-color: #979797;
          &:after{
            transform: rotate(180deg);
            border-color: #e5b972 transparent transparent;
          }
        }
      }

      &.dropdown_list_second_lvl {
        padding-left: 20px;

        .category_filter{
          &:before{
            content: "-";
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.catalog {

  &__form.wrap_filters_slide {
    padding-top: 30px;
    position: relative;
    @media (max-width: 1200px){
      position: absolute;
      padding-bottom: 0;
      padding-top: 5px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    padding-left: 14px;
    font-size: 18px;
    font-family: 'HelveticaNeueCyr Roman';
    color: #9b9b9b;
  }

  &__input {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #fff;
    padding: 3px 20px 2px 40px;
    font-size: 17px;
    font-family: 'HelveticaNeueCyr Roman';
    font-weight: 400;
    color: #9c9c9c;
    background-color: transparent;
    transition: border-color 0.3s ease-in;
    outline: none;
    line-height: 34px;

    &:active,
    &:focus,
    &:hover {
      border-color: #e5b972
    }

    &:placeholder {
      font-family: 'HelveticaNeueCyr Roman';
    }
  }

  &__icon{
    position: absolute;
    left: 58px;
    bottom: 16px;
    width: 13px;
    height: 13px;
    transition: opacity 1.1s ease-in-out;
    @media (max-width: 1200px){
      opacity: 0;
    }
  }

  &__btn {
    width: 20px;
    height: 38px;
    font-size: 0;
    position: absolute;
    bottom: 1px;
    right: 46px;
    outline: none;
    border: none;
    background-color: transparent;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 3px;
      border: 2px solid #e5b972;
      width: 9px;
      height: 9px;
      transform: translateY(-50%) rotate(45deg);
      border-left: 1px;
      border-bottom: 1px;
      transition: opacity 1.0s ease-in-out;
      @media (max-width: 1200px){
        opacity: 0;
      }
    }
  }
}
