.catalog_product_page {

  .b_catalog_filters {
    @media (max-width: 1200px) {
      margin-bottom: 0;
    }
  }
  .product_grid {
    display: block;
    outline: 1px solid #fff;
    outline-offset: -5px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #27281A;
    }
  }

  .product_grid:hover .wrap_img img {
    transform: scale(1.05);
  }

  padding-top: 0;
  background: url(../images/catalog_product_bg.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 120px;

  .caterory_name {
    margin-top: 15px;
    font-size: 32px;
    color: #ebebeb;
    font-family: 'PT Serif';
    line-height: normal;
    margin-bottom: 0;
    padding-bottom: 10px;
    @media (min-width: 1200px){
      border-left: 1px solid #515151;
      padding-left: 17px;
    }
    @media (max-width: 1200px){
      position: relative;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
    @media (max-width: 700px){
      position: relative;
      top: 0;
      font-size: 25px;
      line-height: 28px;
    }
  }
  
  .product_bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    text-align: center;
    font-family: 'PT Serif';
    font-weight: 400;

    .product_name {
      margin-bottom: 8px;
      padding: 0 30px;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.5px;
      color: #ebebeb;

      @media (max-width: 1200px){
        padding: 0 11px;
      }
      @media (max-width: 480px){
        font-size: 14px;
        line-height: 22px;
      }
    }

    .product_article {
      font-size: 14px;
      font-family: 'HelveticaNeueCyr Light';
      color: #e5b972;
      
      @media (max-width: 480px){
        font-size: 11px;
        line-height: 22px;
      }
    }

    .product_collection {
      margin: 0;
      font-size: 14px;
      font-family: 'HelveticaNeueCyr Light';
      color: #ebebeb;
      line-height: 20px;

      @media (max-width: 480px){
        font-size: 12px;
        line-height: 16px;
      }
    }

    .product_material {
      font-size: 14px;
      font-family: 'HelveticaNeueCyr Light';
      color: #ebebeb;
      line-height: 20px;

      @media (max-width: 480px){
        font-size: 12px;
        line-height: 16px;
      }
    }

    .product_price {
      padding-top: 12px;
      position: relative;
      font-size: 20px;
      letter-spacing: 0.5px;
      color: #ebebeb;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 20px;
        height: 1px;
        background-color: #e5b972;
        margin-left: -10px;

      }
      &.bottom_product_price{
        bottom: -25px;
      }
    }

    .product_icon {
      font-size: 17px;
      font-family: 'PT Serif';
    }

    .wrap_price_product{
      margin-top: 7px;
      text-align: center;
      font-size: 18px;
      letter-spacing: 0.5px;
      line-height: 24px;
      color: #ebebeb;
      min-height: 46px;
      position: relative;
      @media (max-width: 1600px){
        font-size: 16px;
      }
      @media (max-width: 1200px){
        font-size: 14px;
      }
      @media (max-width: 767px){
        min-height: 45px;
        line-height: 27px;
        font-size: 12px;
      }
      @media (max-width: 480px){
        margin-top: 0;
        font-size: 10px;
      }

      .label_product{
        font-size: 18px;
        text-transform: uppercase;
        background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,#826d35),color-stop(25%,#e5b972));
        background-image: -webkit-linear-gradient(90deg,#826d35,#e5b972 25%);
        background-image: linear-gradient(90deg,#826d35,#e5b972 25%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 1600px){
        font-size: 16px;
        }
        @media (max-width: 1200px){
          font-size: 14px;
          }
        @media (max-width: 767px){
            font-size: 12px;
          }
        @media (max-width: 480px){
          font-size: 10px;
          margin-top: 0;
        }
          &.stock{
            text-transform: capitalize;
            line-height: 28px;
          }

          &.miss{
            color: #a0a09f;
            -webkit-text-fill-color: #a0a09f;
            background: none;
          }
        }

    }
  }
}