.b_catalog{
  background: url(../images/catalog_bg.jpg) no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 70px;
  @media (max-width: 1200px){
    padding-top: 70px;
  }
  @media (max-width: 767px){
    padding-bottom: 30px;
  }
  .container-fluid{
    padding-left: 0;
    @media (max-width: 1200px){
      padding-left: 15px;
    }
  }
  .title_page {
    font-family: 'PT Serif';
    font-size: 36px;
    line-height: 42px;
    color: #ebebeb;
    letter-spacing: 0.9px;
    @media (max-width: 768px){
      font-size: 24px;
      letter-spacing: 0.6px;
    }
  }

  .product_grid{
    text-align: center;
    text-decoration: none;
    margin-bottom: 55px;
    .wrap_img{
      width: 100%;
      height: 290px;
      overflow: hidden;
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      align-items: center;
      position: relative;
        @media (max-width: 1200px){
        height: 264px;
      }
      @media (max-width: 767px){
        height: 241px;
      }
      @media (max-width: 480px){
        height: 145px;
      }
        .wrap_img_hover{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,rgba(130, 109, 53, 0.7)),color-stop(50%,rgba(229, 185, 114, 0.7)));
        background-image: -webkit-linear-gradient(90deg,rgba(130, 109, 53, 0.7),rgba(229, 185, 114, 0.7) 50%);
        background-image: linear-gradient(90deg, rgba(130, 109, 53, 0.7), rgba(229, 185, 114, 0.7) 50%);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        .product_more, .product_buy{
          font-family: 'HelveticaNeueCyr Bold';
          font-size: 14px;
          text-transform: uppercase;
          color: #fff;
          letter-spacing: 1px;
          text-decoration: none;
        }
        .product_buy{
          letter-spacing: 1.8px;
          margin-top: 20px;
        }
      }
      &:hover{
        .wrap_img_hover{
          opacity: 1;
        }
        
      }

      img {
        transition: transform 0.3s ease-in-out;
      }
    }
    .product_name{
      margin-top: 15px;
      font-size: 18px;
      letter-spacing: 0.5px;
      line-height: 25px;
      color: #ebebeb;
      text-align: center;
      font-family: 'HelveticaNeueCyr Roman';
      padding: 0 40px;
      @media (max-width: 1200px){
        font-size: 14px;
        padding: 0 20px;
      }
      @media (max-width: 767px){
        padding: 0;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 1px;
      }
    }
  }

}