@import "mixin";
.underline-title {
  position: relative;
  margin: 0 0 34px 0;
  padding-bottom: 30px;
  font-family: 'PT Serif';
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: #ebebeb;
  letter-spacing: 0.9px;
  @include adaptive(1200px) {
    font-size: 24px;
    line-height: normal;
    padding-bottom: 20px;
    margin-bottom: 25px;
  }
  @include adaptive(767px) {
    font-family: 'HelveticaNeueCyr Medium';
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 18px;
    margin-bottom: 25px;
  }
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 2px;
    background-color: #979797;

    @include adaptive(767px) {
      width: 40px;
    }
  }
}

.common-title {
  margin: 0 0 36px 0;
  font-family: 'PT Serif';
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: #ebebeb;
  letter-spacing: 0.9px;
  @include adaptive(1200px) {
    font-size: 24px;
    line-height: normal;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  @include adaptive(630px) {
    font-size: 18px;
  }
}