.contacts_page{
  background: url(../images/contact_map_bg.jpg) no-repeat;
  background-size: cover;
  padding: 0;
  
  .b_cooperation{
    padding: 0px; 
    background: none;
  }
  
  header{
    -o-border-image: linear-gradient(to bottom left, #353535 0%, rgba(84, 84, 84, 0.7) 100%) !important;
    border-image: linear-gradient(to bottom left, #353535 0%, rgba(84, 84, 84, 0.7) 100%) !important;
    border-image-slice: 1 !important;
    margin-bottom: 50px;
    @media (max-width: 650px){
      margin-bottom: 15px;
    }	
  }

  .contact_title{
    font-family: 'PT Serif';
    font-size: 36px;
    color: #ebebeb;
    margin-bottom: 63px;
    margin-top: 0;
    @media (max-width: 1600px){
      margin-bottom: 53px;
    }
    @media (max-width: 1200px){
      text-align: center
    }
    @media (max-width: 767px){
      font-size: 24px;
    }
  }
  .adress_map{
    font-family: 'Playfair Display Bold';
    font-size: 20px;
    color: #ebebeb;
    margin-bottom: 15px;
    @media (max-width: 1600px){
      font-size: 14px;
    }
    @media (max-width: 767px){
      font-size: 11px;
    }
    &:after{
      display: table;
      content: "";
      clear: both;
    }
    .adress_title, .adress_field{
      display: flex;
      float: left;
      width: 33%;
      @media (max-width: 1200px){
        width: 50%;
      }
    }
    .adress_title{
      background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,#826d35),color-stop(25%,#e5b972));
        background-image: -webkit-linear-gradient(90deg,#826d35,#e5b972 25%);
        background-image: linear-gradient(90deg,#826d35,#e5b972 25%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
  #map_shop, #map_partners{
    -webkit-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    -moz-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    width: 100%;
    height: 600px;

    @media (max-width: 767px){
      height: 308px;
    }
    @media (max-width: 480px){
      height: 180px;
    }
  }

  .right_contacts{
    @media (max-width: 767px){
      margin-top: 45px;
      padding-right: 35px;
      padding-left: 100px;
    }
    @media (max-width: 630px){
      padding-right: 30px;
      padding-left: 30px;
    }
    @media (max-width: 480px){
      padding-right: 15px;
      padding-left: 15px;
    }

    .adress_contacts{
      .adress_char{
        font-family: 'HelveticaNeueCyr Roman';
        overflow: hidden;
        margin-bottom: 25px;
        display: flex;
        align-items: baseline;
      }
      .contacts_title, .contacts_field{
        display: flex;
        float: left;
      }
      .contacts_title{
        width: 28%;
        font-family: 'HelveticaNeueCyr Medium';
        font-size: 20px;
        line-height: 24px;
        color: #ebebeb;
        @media (max-width: 767px){
          font-size: 18px;
          line-height: 22px;
          margin-right: 10px;
        }
        @media (max-width: 480px){
          min-width: 100px;
        }

      }
      .contacts_field{
        width: 72%;
        font-size: 18px;
        color: #e5b972;
        font-family: 'HelveticaNeueCyr Roman';
        @media (max-width: 767px){
          letter-spacing: 0.27px;
          line-height: 30px;
          max-width: 390px;
        }
        @media (max-width: 480px){
          
          font-size: 12px;
          line-height: 22px;
          letter-spacing: 0.18px;
        }
      }
    }
    .description_contacts{
      margin-top: 115px;
      @media (max-width: 767px){
        margin-top: 60px;
      }
      .description_title{
        font-size: 18px;
        color: #ebebeb;
        font-family: 'HelveticaNeueCyr Medium';
      }
      p{
        color: #a09f9f;
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }

  .wrap_map{
    margin-bottom: 80px;
    @media (max-width: 1600px){
      margin-bottom: 50px;
    }
    @media (max-width: 767px){
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 10px;
    }
    @media (max-width: 767px){
      margin-bottom: 0px;
    }
  }
  
  .left_cooperation {
    @media (max-width: 1200px){
      padding: 0 200px;
    }
    @media (max-width: 960px){
      padding: 0 100px;
    }
    @media (max-width: 767px){
      padding: 0 30px;
    }
    @media (max-width: 480px){
      display: none;
    }

    p {
      @media (max-width: 1200px){
        font-size: 18px;
        line-height: 26px;
      }
    }
    p .tel_cooperation {
      font-size: 16px;
    }

    .wrap_left_mob {
      @media (max-width: 1200px){
        width: 100%;
      }

      .description_cooperation {
        margin-bottom: 44px;
        @media (max-width: 1200px){
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
  }

  .right_cooperation {
    margin-top: 96px;
    @media (max-width: 1600px){
      margin-top: 76px;
    }
    @media (max-width: 767px){
      margin-top: 48px;
    }
    @media (max-width: 480px){
      display: none;
    }
    
    .logo_partners{
      @media (max-width: 767px){
        border-bottom: none;
      }
      .wrap_img {
        margin-bottom: 16px;
      
        .text_hover {
          font-size: 14px;
        }
      }
    }
  }

  .contacts_visible-tablet{
    display: none;
    @media (max-width: 767px){
      display: block;
    }
  }

  
  .contacts_subtitle {
    margin-bottom: 20px;
    font-family: 'HelveticaNeueCyr Medium';
    font-size: 18px;
    color:#ebebeb;
    line-height: 26px;
    text-align: center;
    @media (max-width: 630px){
      width: 80%;
      line-height: 18px;
      font-size: 14px;
      color: #dedede;
      font-family: 'HelveticaNeueCyr Roman';
      letter-spacing: 0.21px;
    }
  }
  .map_partners{
    padding: 100px 0;
    .wrap_map{
      padding-left: 30px;
      @media (max-width: 767px){
        padding-left: 15px;
      }
    }
    @media (max-width: 767px){
      padding: 50px 0;
    }
    .adress_field{
      float: right;
        width: 48%;
        @media (max-width: 1200px){
        width: 47%;
        }
        @media (max-width: 767px){
        float: left;
        }
    }
  }

  // Попап гугл карты

  .map-content {
    color: #273238;
    width: 330px;
  }

  .map-partners {
    color: #273238;
    text-align: center;
    //width: 330px;
  }

  .map-item + .map-item {
    margin-top: 15px;
  }

  .map-title {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    span {
      text-transform: lowercase;
    }
  }
  
  .map-description {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    color: #273238;
  }


  .tabs__caption {
    display: flex;
    width: 420px;
    margin-bottom: 40px;
    @media (max-width: 1600px){
      margin-bottom: 34px;
    }
    @media (max-width: 767px){
      display: none;
    }

    li {
      height: 45px;
      line-height: 45px;
      text-transform: uppercase;
      text-align: center;
      list-style: none;
      color: #e5b972;;
      width: 210px;
      font-size: 14px;
      border: 1px solid  #e5b972;
      letter-spacing: 1px;
      cursor: pointer;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:hover {
        color: #303030;
        background-color: #e5b972;
      }

    }

    li.active {
      color: #303030;
      background-color: #e5b972;
    }

  }
  
  .tabs__content {
    display: none; 
    width: 100%;
  }
  .tabs__content.active {
    display: block;
    width: 100%;
  }
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}

.ymaps-2-1-64-map {
  width: 100% !important;
}
