.b_cooperation{
	background: url(../images/cooperation_bg.jpg) no-repeat;
	background-size: cover;
	padding: 67px 0 83px;
	@media (max-width: 1200px){
		padding: 38px 0 30px;
	}
	@media (max-width: 630px){
		padding: 5px 0 30px;
	}

	.left_cooperation {
		@media (max-width: 767px){
			margin-bottom: 0;
			.underline-title {
				@media (max-width: 767px){
					margin-left: 45px;
				}
				@media (max-width: 630px){
					margin-left: 0px;
				}
			}
			p {
				@media (max-width: 767px){
					padding-left: 45px;
					padding-right: 45px;
					width: 50%;
				}
				@media (max-width: 630px){
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}

		.title_cooperation {
			margin: 0;
			font-family: 'PT Serif';
			font-size: 36px;
			line-height: 42px;
			color: #ebebeb;
			letter-spacing: 0.9px;
			margin-bottom: 30px;
			@media (max-width: 1200px){
				font-size: 20px;
			}
		}
		.description_cooperation {
			color: #ebebeb;
			font-size: 18px;
			font-family: 'HelveticaNeueCyr Medium';
			line-height: 26px;
			letter-spacing: 0.5px;
			margin-bottom: 33px;
		}
		p {
			font-family: 'HelveticaNeueCyr Roman';
			font-size: 16px;
			color: #bdbcbc;
			line-height: 24px;
			letter-spacing: 0.27px;
			margin-bottom: 0;
			@media (max-width: 1200px){
				color: #dedede;
			}

			.tel_cooperation{
				font-size: 18px;
				color: #bdbcbc;
				line-height: 22px;
				text-decoration: none;
			}

			@media (max-width: 1200px){
				width: 100%;
				float: left;
				font-size: 14px;
				line-height: 20px;
				
				.tel_cooperation{
					font-size: 14px;
					color: #fff;
					text-decoration: none;
    		}
			}
			
			a {
				font-size: 18px;
				color: #bdbcbc;
				text-decoration: underline;
			}
		}
		p + p {
			margin-top: 31px;
			@media (max-width: 767px){
				margin-top: 20px;
			}
		}
		.left_cooperation_description  {
			@media (max-width: 767px){
				width: 50%;
			}
			@media (max-width: 640px){
				width: 100%;
			}
		}

		.description_order{
			margin-top: 44px;

			font-family: 'HelveticaNeueCyr Medium';
			font-size: 18px;
			color: #ebebeb;
			line-height: 26px;
			@media (max-width: 1200px){
				font-size: 14px;
				line-height: 20px;
				color: #dedede;
				margin-top: 0;
			}
			@media (max-width: 767px){
				margin-bottom: 30px;
				width: 50%;
			}
			@media (max-width: 640px){
				width: 100%;
			}
			a{
				text-decoration: underline;
				font-size: 18px;
				color: #e0e0e0;
				@media (max-width: 1200px){
					font-size: 14px;
				}
			}
		}
		.wrap_left_mob{
			@media (max-width: 1200px){
				width: 50%;
			  float: left;
			  padding-right: 70px;
			
				.description_cooperation{
					font-size: 13px;
					line-height: 18px;
					@media (max-width: 1200px){
						width: 100%;
					}
					@media (max-width: 767px){
						font-size: 12px;
						margin-bottom: 25px;
					}
				}
			}
			@media (max-width: 767px){
				width: 100%;
				padding-right: 35px;
			}
		}
	}
	.wrap_cooperation {
		margin-bottom: 63px;
		@media (max-width: 1200px){
			margin-bottom: 18px;
		}
		@media (max-width: 767px){
			padding: 0 45px;
		}
		@media (max-width: 630px){
			padding: 0px;
		}
	}
	.right_cooperation{
		@media (max-width: 1200px){
			margin-top: 30px;
		}
		@media (max-width: 767px){
			margin-top: 20px;
		}
		.logo_partners{
			display: flex;
			flex-wrap: wrap;
			padding-top: 43px;
			border-top: 1px solid #dedede;
			border-bottom: 1px solid #dedede;
			@media (max-width: 1200px){
				padding-top: 30px;
			}
				
			.wrap_img{
				width: 33%;
			    display: flex;
    			flex-direction: column;
    			align-items: center;
    			text-align: center;
    			margin-bottom: 45px;
    			@media (max-width: 1200px){
    				margin-bottom: 15px;
    			}
    			@media (max-width: 767px){
    				width: 50%;
    				margin-bottom: 15px;
    			}
    			img{
    				cursor: pointer;
    			}
    			&:hover{
    				.text_hover{
    					opacity: 1;
    				}
    			}
			}
			.wrap_img:last-child {
				margin-bottom: 10px;
			}
			.text_hover{
				margin-top: 25px;
				font-size: 15px;
				color: #bdbcbc;
				opacity: 0;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-ms-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				@media (max-width: 767px){
					margin-top: 10px;
					font-size: 12px;
					br{
						display: none;
					}
				}
				&.active{
					opacity: 1;
				}
			}
		}
	}
	.tabs_list {
		padding-top: 67px;
		@media (max-width: 767px){
			padding-top: 23px;
			padding-left: 45px;
			padding-right: 45px;
		}
		@media (max-width: 630px){
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	.tabs_category{
		@media (max-width: 630px){
			padding-left: 15px;
			padding-right: 15px;
		}
		.title_tabs_caregory{
			padding-left: 35px;
			margin: 0;
			font-family: 'HelveticaNeueCyr Medium';
			font-size: 18px;
			color: #ebebeb;
			letter-spacing: 1px;
			cursor: pointer;
			position: relative;
			display: inline-block;
			&.active, &:hover {
			background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,rgba(130, 109, 53, 0.7)),color-stop(30%,rgba(229, 185, 114, 0.7)));
      background-image: -webkit-linear-gradient(90deg,rgba(130, 109, 53, 0.7),rgba(229, 185, 114, 0.7) 30%);
      background-image: linear-gradient(90deg, rgba(130, 109, 53, 0.7), rgba(229, 185, 114, 0.7) 30%);
      -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    color: #e5b972;
			}

			&:before{
				position: absolute;
				content: "";
				left: 0px;
				width: 20px;
				height: 20px;
				background: url(../images/icon/sprite_home.svg) no-repeat;
				background-size: 900px;
				background-position: -17px -199px;
				top: 50%;
				margin-top: -12px;
			}
			&.active {
				&:before {
					background-position: -50px -197px;
				}
			}
			@media (max-width: 1200px){
				font-size: 18px;
			}
			@media (max-width: 1200px){
				br{
					display: none;
				}
			}
		}

		.text_tabs_caregory {
			font-size: 16px;
			color: #bdbcbc;
			line-height: 24px;
			display: none;
			@media (max-width: 1200px){
				font-size: 13px;
			}
		}
	}

	.tabs_category + .tabs_category{
		margin-top: 25px;
	}
}