@import "mixin";

.factory_page { 
  font-family: 'HelveticaNeueCyr Roman';
  font-weight: normal;
  padding-top: 0;
  
  .b_catalog_filters {
    .wrap_filters_slide {
      display: none;
    }

    .filter.subfilter {
      .link_subfilter {
        text-decoration: none;
        display: inline-block;
        margin: 0;
        width: 100%;
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'HelveticaNeueCyr Roman';
        color: #e5e5e5;
        padding-right: 20px;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        @media (max-width: 1200px){
          font-size: 18px;
        }
        @media (max-width: 767px){
          font-size: 16px;
        }

        &:hover {
          color: #e5b972;
        }
      }

      .dropdown_list {
        padding-left: 20px; 

        li{
          &:before {
            content: '-';
            margin-right: 5px;
          }
        }
      }
    }

    .factory_subfilter {
      display: block;
      padding: 0 45px;
      @media (min-width: 1200px){
        margin-top: 57px;      
      }
      @media (max-width: 1200px){
        display: none;
        padding-bottom: 15px;
        position: absolute;
        background: #292929;;
        padding-left: 45px;
        width: 100%;
        left: 0;
        z-index: 99;
        margin-top: 2px;
        -webkit-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
        -moz-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
        box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
      }
    }
  }
  
  .factory {
    &__intro {
      margin-bottom: 40px;
      padding-bottom: 21px;
      border-bottom: 1px solid #979797;
      @include adaptive(1600px) {
        margin-bottom: 17px;
        border-bottom-color: transparent;
      }
    }

    &__intro-col {
      @media (min-width: 1600px){
        width: 41.6666666667%;
      }
    }

    &__intro-descritption-col {
      @media (min-width: 1600px){
        width: 58.3333333333%;
      }
    }

    &__title,
    &__subtitle {
      position: relative;
      padding-bottom: 31px;
      font-family: 'PT Serif';
      font-size: 36px;
      line-height: 42px;
      color: #ebebeb;
      letter-spacing: 0.9px;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 85px;
        height: 1px;
        background-color: #979797;
        @include adaptive(767px) {
          display: none;
        }
      }
    }

    &__title {
      margin-top: 0;
      margin-bottom: 164px;//34px;
      @include adaptive(1600px) {
        margin-bottom: 34px;
      }
      @include adaptive(767px) {
        margin-bottom: 29px;
        padding-bottom: 0;
        text-align: center;
        font-size: 24px;
        line-height: 42px;
        letter-spacing: 0.6px;
      }
    }

    &__subtitle {
      margin-top: -14px;
      margin-bottom: 40px;
      @include adaptive(1600px) {
        margin-top: -118px;
      }
      @include adaptive(1200px) {
        width: 140%;
      }
      @include adaptive(767px) {
        width: 100%;
        margin-top: 0;
        margin-bottom: 31px;
        padding-bottom: 0;
      }
      
    }

    // Перенос страны изготовителя на новую строку
    &__country::before {
      content: '\A';
      white-space: pre;
      }

    &__description {
      margin-top: -126px;
      margin-bottom: 44px;
      font-family: 'HelveticaNeueCyr Medium';
      font-size: 18px;
      line-height: 26px;
      color: #ebebeb;
      width: 778px;
      @include adaptive(1600px) {
        width: 100%;
        margin-top: 3px;
      }
      @include adaptive(767px) {
        margin-top: 0;
        margin-bottom: 34px;
      }
    }

    &__image {
      display: block;
      width: 100%;
      height: auto;
      @include adaptive(767px) {
        width: 88.4%;
        margin: 0 auto;
        margin-bottom: 35px;
      }
    }

    &__paragraph {
      margin: 0;
      font-size: 18px;
      line-height: 29px;
      letter-spacing: 0.27px;
      font-weight: 400;
      color: #bdbcbc;
    }

    &__material-list {
      list-style: none;
      font-family: 'HelveticaNeueCyr Roman';
      font-weight: normal;
      color: #bdbcbc;
      font-size: 18px;
      line-height: 29px;
      letter-spacing: 0.27px;
      
      li {
        padding-left: 10px;
      }
    }

    &__technologies-inner {
      padding-top: 5px;
      padding-left: 35px;
      border-left: 5px solid #e5b972;
      
      @include adaptive(767px) {
        margin-top: 7px;
      }
    }
    
    &__technologies-caption,
    &__technologies-list {
      color: #fff;
      font-size: 18px;
      line-height: 29px;
      letter-spacing: 0.27px;
    }

    &__technologies-caption {
      margin-bottom: 2px;
    }

    &__technologies-list {
      li {
        padding-left: 12px;
        list-style: none;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 13px;
          width: 7px;
          height: 1px;
          background-color: #fff;
        }
      }
    }

    &__row {
      display: flex;
      width: 100%;
      align-items: flex-start;
      margin-bottom: 57px;
      @include adaptive(1600px) {
        display: block;
      }
      @include adaptive(767px) {
        margin-bottom: 0;
      }
    }

    &__column-left {
      width: 50%;
      padding-right: 15px;
      
      @include adaptive(1600px) {
        .factory__image {
          float: left;
          margin-right: 50px;
          margin-bottom: 70px;
      }

      @include adaptive(767px) {
        width: 100%;

        .factory__image {
          float: none;
          width: 88.4%;
          margin: 0 auto;
          margin-bottom: 35px;
        }
      }
    }
  }

    &__column-right {
      border-top: 1px solid #979797;
      width: 50%;
      padding: 29px 15px 0 20px;

      @include adaptive(1600px) {
        padding-top: 0;
        padding-left: 0;
        width: 100%;
        border: none;
      }
      @include adaptive(767px) {
      padding-right: 0;
      }
    }

    &__about-brand {
      padding-top: 30px;
      border-top: 1px solid #979797;
      @include adaptive(1600px) {
        border-top-color: transparent;
      }
    }

    &__cooperation {
      margin-bottom: 83px;
      @include adaptive(1600px) {
        margin-bottom: 176px;
      }
      @include adaptive(767px) {
        margin-bottom: 34px;
      }
    }

    &__container {
      padding-top: 35px;
      border-top: 2px solid #979797;
    }

    // factory end
  }

  .factory__paragraph + .factory__paragraph {
    margin-top: 30px;
  }

}

.bottom-container {
  border-top: 1px solid #979797;
  padding-top: 43px;
  margin-bottom: 62px;
  @include adaptive(767px) {
    display: none;
  }
}

.bottom__galery-title {
  width: 92.9%;
  text-align: center;
  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 42px;
  color: #ebebeb;
  letter-spacing: 0.9px;
  text-align: center;
  line-height: normal;
}

.bottom-slider__list {
  width: 92.9%;
  margin-bottom: 78px;
  list-style: none;

  @include adaptive(1199px) {
    width: 100%;
  }
  .slick-slider .slick-track {
    min-width:100%;
  }
}

.bottom-slider__item {
  max-width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.bottom-slider__controll {
  position: relative;
  width: 92.9%;
  display: flex;
  justify-content: center;
  align-items: center;

  .slick-custom-prev,
	.slick-custom-next {
    position: relative;
	  display: inline-block;
	  overflow: hidden;
    text-decoration: none;
    padding: 0.5em 1.5em;
    cursor: pointer;
    width: 60px;
		height: 60px;
		font-size: 0;
		border: none;
    background: transparent;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #826d35 0%, #e5b972 100%) !important;
    -webkit-border-image: -webkit-linear-gradient(top left, #e5b972 0%, #e5b972 100%) !important;
    border-image: linear-gradient(to bottom right, #826d35 0%, #e5b972 100%) !important;
    border-image-slice: 1 !important;
    @include adaptive(1200px) {
      width: 50px;
      height: 50px;
    }
    @include adaptive(767px) {
      width: 40px;
      height: 40px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      border: 3px solid #e5b972;
      width: 12px;
      height: 12px;
      transition: margin 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    &:focus {
			outline: none;
		}
  }
  
  .slick-custom-prev {
    margin-right: 60px;
    &:before {
      border-right: 0;
      border-top: 0;
      transform: translate(calc(-50% + 3px), -50%) rotate(45deg);
      @include adaptive(767px){
        transform: translate(calc(-50% + 1px), -50%) rotate(45deg);
      }
    }

    &:hover{
			background: rgb(130,109,53);
			background: -moz-linear-gradient(left, rgba(130,109,53,1) 1%, rgba(229,185,114,1) 100%);
			background: -webkit-linear-gradient(left, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%); 
			background: linear-gradient(to right, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
			border: none;
			&:before{
        border-color: #fff;
				margin-left: -5px;
				@media (max-width: 767px){
					margin-left: -3px;
				}
			}
		}
  }

  .slick-custom-next {
    margin-left: 60px;
    &:before {
      border-left: 1px;
      border-bottom: 1px;
      transform: translate(calc(-50% - 3px), -50%) rotate(45deg);
      @include adaptive(767px){
        transform: translate(calc(-50% - 1px), -50%) rotate(45deg);
      }
    }

    &:hover{
			background: rgb(130,109,53);
			background: -moz-linear-gradient(right, rgba(130,109,53,1) 1%, rgba(229,185,114,1) 100%);
			background: -webkit-linear-gradient(right, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%);
			background: linear-gradient(to left, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
			border: none;
			&:before{
        border-color: #fff;
				margin-left: 5px;
				@media (max-width: 767px){
					margin-left: 3px;
				}
      }
    }
  }
}

.bottom-slider__count {
  display: block;
  width: 40px;
  font-family: 'HelveticaNeueCyr Medium';
  font-size: 18px;
  color: #bdbcbc;
  letter-spacing: 0.27px;
}
