// Helvetica

@font-face {
  font-family: 'HelveticaNeueCyr Medium';
  src: url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Bold';
  src: url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Roman';
  src: url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Light';
  src: url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
// Playfair

@font-face {
  font-family: 'Playfair Display Bold';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.eot');
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Bold.woff') format('woff'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// PT Serif

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif/PTSerif-Regular.eot');
  src: local('PTSerif Regular'), local('PTSerif-Regular'), 
    url('../fonts/PTSerif/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSerif/PTSerif-Regular.woff2') format('woff2'),
    url('../fonts/PTSerif/PTSerif-Regular.woff') format('woff'),
    url('../fonts/PTSerif/PTSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
