footer{
  background: #2f2e2e;
  padding: 52px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 1200px){
    flex-direction: row;
    align-items: flex-start;
    background-color: #2b2b2a;
    padding: 45px 37px 0 37px;
  }
  @media (max-width: 480px){
    flex-direction: column;
    padding: 35px 0px 5px 41px;

  }
  
  .footer__main-wrapper {
    width: 67%;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 1200px){
      flex-direction: column;
    }
  }
  
  .footer__copyright--wrapper {
    width: 67%;
    display: flex;
    justify-content: space-between;
    padding: 11px 0;
    width: auto;
    margin-left: 16.5%;
    @media (max-width: 1200px){
      width: 100%;
      margin-left: 0;
      justify-content: flex-end;
    }
    @media (max-width: 480px){
      justify-content: flex-start;
    }

    .text_footer_block {
      margin: 0;
      @media (max-width: 1200px){
        font-size: 12px;
      }
      @media (max-width: 1200px){
        width: 145px;
        text-align: left;
        font-size: 9px;
      }
    }
  }

  .footer__copyright {
    display: flex;
    width: 100%;
    background-color: #222121;
    font-family: 'HelveticaNeueCyr Roman';
    font-size: 14px;
    color: #dedede;
    letter-spacing: 0.21px;
    @media (max-width: 1200px){
      margin-top: auto;
      background-color: #2b2b2a;
    }
    @media (max-width: 480px){
      margin-top: 21px;
    }
  }

  .footer_block {
    margin-bottom: 29px;
    @media (max-width: 1200px) {
      margin-bottom: 22px;
      
    }

    .title_footer_block {
      display: block;
      margin-top: 0;
      margin-bottom: 22px;
      font-size: 18px;
      font-family: 'HelveticaNeueCyr Medium';
      color: #ebebeb;
      transition: color 0.2s ease-in;
      @media (max-width: 1200px) {
        margin-bottom: 3px;
        font-size: 16px;
      }

      &:hover {
        text-decoration: none;
        color: #e5b972;
      }
    }

    .text_footer_block {
      display: block;
      font-family: 'HelveticaNeueCyr Roman';
      font-size: 14px;
      color: #dedede;
      line-height: 20px;
      @media (max-width: 1200px) {
        font-size: 12px;
      }
    }

    .footer_br-desktop {
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}