.galley_single_page{
  padding-top: 0;
  padding-bottom: 116px;
  .col-sm-6{
    margin-bottom: 35px;
  }
  .full_w{
    width: 100%;
  }
  .title_page{
    width: 75%;
    margin: 0;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ebebeb;
    font-family: 'PT Serif';
    line-height: normal;
    font-weight: 400;
    margin-bottom: 40px;
      @media (max-width: 1200px){
        font-size: 22px;
        width: 100%;
    }
  }
  .gallery_img{
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: transform 0.2s ease-in-out;
    }
    
    &:focus{
        outline: none;
    }
    
    &.hlg{
      height: 620px;
      @media (max-width: 1200px){
        height: 500px;
      }
    }
    
    &.sm{
      height: 335px;
      @media (max-width: 1200px){
        height: 215px;
      }
    }
    
    &.slg{
      height: 250px;
    }

    &:hover img {
      transform: scale(1.05);
    }

    /* .gallery_img_hover {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,rgba(130, 109, 53, 0.7)),color-stop(50%,rgba(229, 185, 114, 0.7)));
      background-image: -webkit-linear-gradient(90deg,rgba(130, 109, 53, 0.7),rgba(229, 185, 114, 0.7) 50%);
      background-image: linear-gradient(90deg, rgba(130, 109, 53, 0.7), rgba(229, 185, 114, 0.7) 50%);
      left: 15px;
      right: 15px;
      top: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    } */
    /* &:hover{
      .gallery_img_hover{
        opacity: 1;
      }
    } */
  }
}

.fancybox-controls {
  height: 100vh;
}

.fancybox-infobar {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent !important;

  @media (max-width: 480px){
    width: 180px;
  }
}

.fancybox-button--left,
.fancybox-button--right {
  width: 60px;
  height: 60px;
  display: inline-block !important;  // что бы кнопки не отключались на 800пх
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #826d35 0%, #e5b972 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(top left, #e5b972 0%, #e5b972 100%) !important;
  border-image: linear-gradient(to bottom right, #826d35 0%, #e5b972 100%) !important;
  border-image-slice: 1 !important;
  @media (max-width: 1200px){
    width: 50px;
    height: 50px;
  }
  @media (max-width: 800px){
    width: 40px;
    height: 40px;
  }

  &:focus{
    outline: none;
  }

  &:after {
    width: 12px;
		height: 12px;
    transition: margin 0.2s ease-in-out;
    
    @media (max-width: 800px){
			width: 9px;
			height: 9px;
			border-width: 2px;
		}
  }

}

.fancybox-button--left {
  margin-right: 10px;

  &:hover{
    background: rgb(130,109,53);
    background: -moz-linear-gradient(left, rgba(130,109,53,1) 1%, rgba(229,185,114,1) 100%);
    background: -webkit-linear-gradient(left, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%); 
    background: linear-gradient(to right, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
    border-color: transparent;
    &:after {
      margin-left: -5px;
      @media (max-width: 800px){
        margin-left: -3px;
      }
    }
  }

  &:after{
    @media (min-width: 1201px){
      top: 23px;
      left: 23px;
    }
    @media (max-width: 1200px){
      top: 17px;
      left: 17px;
    }
    @media (max-width: 800px){
      top: 14px;
      left: 14px;
    }
  }
}

.fancybox-button--right {
  margin-left: 10px;

  &:hover{
    background: rgb(130,109,53);
    background: -moz-linear-gradient(right, rgba(130,109,53,1) 1%, rgba(229,185,114,1) 100%);
    background: -webkit-linear-gradient(right, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%);
    background: linear-gradient(to left, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
    border-color: transparent;
    &:after{
      margin-right: -5px;
      @media (max-width: 767px){
        margin-right: -3px;
      }
    }
  }

  &:after {
    @media (min-width: 1201px){
      top: 23px;
      right: 23px;
    }
    @media (max-width: 1200px){
      top: 17px;
      right: 17px;
    }
    @media (max-width: 800px){
      top: 14px;
      right: 14px;
    }
  }
} 

.fancybox-infobar__body {
  background-color: transparent !important;
  font-family: 'HelveticaNeueCyr Medium';
  font-size: 16px;
  color: #bdbcbc;
  letter-spacing: 0.27px;
  line-height: 68px;

  @media (max-width: 1200px){
    line-height: 58px;
  }
  @media (max-width: 800px){
    font-size: 14px;
    line-height: 48px;
  }
}

.fancybox-button--play {
  display: none !important;
}