.gallery_page{

	.product_name{
		text-align: left;
	}
	.wrap_img{
		.product_more{
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,rgba(130, 109, 53, 0.7)),color-stop(50%,rgba(229, 185, 114, 0.7)));
	        background-image: -webkit-linear-gradient(90deg,rgba(130, 109, 53, 0.7),rgba(229, 185, 114, 0.7) 50%);
	        background-image: linear-gradient(90deg, rgba(130, 109, 53, 0.7), rgba(229, 185, 114, 0.7) 50%);
	        left: 0;
	        right: 0;
	        top: 0;
	        bottom: 0;
	        z-index: 1;
	        opacity: 0;
	        cursor: pointer;
	    -webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}	
		&:hover{
			.product_more{
				opacity: 1;
			}
					
		}	
	}
	.b_catalog_filters{
		@media (min-width: 1200px){
			padding-left: 75px;
			padding-right: 30px;
		}

	}
	.wrap_filters_slide{
		@media (max-width: 1200px){
			padding-right: 15px;
		}
	}
	
}