header{
	padding: 55px 0;
	margin-bottom: 70px;
	position: relative;
	border-bottom: 2px solid transparent;
    -o-border-image: linear-gradient(to bottom left, #222222 0%, rgba(84, 84, 84, 0.7) 100%) !important;
    border-image: linear-gradient(to bottom left, #222222 0%, rgba(84, 84, 84, 0.7) 100%) !important;
    border-image-slice: 1 !important;

	@media (max-width: 1200px){
		padding: 35px 0;
		margin-bottom: 30px;
	}
	@media (max-width: 767px){
		padding: 25px 0;
	}
	@media (max-width: 650px){
		padding: 25px 0 0;
	}
	.navbar-nav > li > a{
		padding-left: 0;
	}
	.navbar{
		float: left;
		border-radius: 0;
	  min-height: auto;
		margin: 0;
		@media (max-width: 767px){
			position: absolute;
			top: 23px;
			left: 0;
		}
	}
	.navbar-default{
		background: transparent;
		border: none;
	}
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}

	.navbar-wrapper{
		display: flex;
		flex-direction: column;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		width: 23.3%;
		padding: 88px 45px 0 45px;
		z-index: 998;
		float: none!important;
		background-color: #292929;
		
		@media (max-width: 1200px){
			width: 315px;
			padding-left: 30px;
		}
		@media (max-width: 480px){
			width: 100%;
			padding-top: 70px;
			margin: 0;
		}
	}

	.navbar-nav {
		float: none!important;
		list-style: none;
		@media (max-width: 767px){
			margin-right: 0;
			margin-left: 0;
		}
	}

	.navbar-nav > li {
		float: none;
		border-bottom: 1px solid #4a4a4a;
		padding: 19px 0px;
	}

	.navbar-nav > li > a,
	.navbar-title {
		padding: 0;
		color: #fff;
		font-size: 18px;
		font-family: 'HelveticaNeueCyr Medium';
		letter-spacing: 1px;
		transition: color 0.3s ease-in-out;

		&:hover, &:active, &:focus{
			font-weight: 500;
			color: #e5b972;
			background-color: transparent;
		}
		@media (max-width: 767px){
			font-size: 16px;
		}
	}

	.navbar-collapse.collapse.in{
		display:block !important;
	}

	.navbar-toggle{
		margin: 0;
		height: 53px;
		width: 53px;
		float: left;
		padding: 0;
		background: #3e3e3e;
		border-radius: 0;
		position: relative;
		z-index: 2;
		-webkit-box-shadow: 5px 13px 68px 0px rgba(0,0,0,0.45);
		-moz-box-shadow: 5px 13px 68px 0px rgba(0,0,0,0.45);
		box-shadow: 5px 13px 68px 0px rgba(0,0,0,0.45);
		@media (max-width: 1200px){
			width: 40px;
			height: 40px;
		}
		@media (max-width: 767px){
			width: 20px;
			height: 21px;
		}
		.icon-bar{
			width: 25px;
			margin: auto;
			border-radius: 0;
			background: rgb(130,109,53); /* Old browsers */
			background: -moz-linear-gradient(left, rgba(130,109,53,1) 0%, rgba(229,185,114,1) 100%);
			background: -webkit-linear-gradient(left, rgba(130,109,53,1) 0%,rgba(229,185,114,1) 100%);
			background: linear-gradient(to right, rgba(130,109,53,1) 0%,rgba(229,185,114,1) 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
			@media (max-width: 1200px){
				width: 19px;
			}
			@media (max-width: 767px){
				width: 10px;
				height: 1px;
			}
			&:not(:last-child){
				margin-bottom: 6px;
				@media (max-width: 1200px){
					margin-bottom: 4px;
				}
				@media (max-width: 767px){
		    	margin-bottom: 2px;
				}
			}
		}
		&.navbar-toggle-js{
			box-shadow: none;
			position: fixed;
			z-index: 999;
			background-color: transparent;
			left: 17%;
			top: 20px;

			&:hover .icon-bar {
				border-color: red !important;
			}

			@media (max-width: 1200px){
				left: 240px;
			}

			@media (max-width: 480px){
				left: 85%;
			}
		}
	}
	.navbar-toggle .icon-bar:nth-of-type(2) {
		top: 1px;
	}
	.navbar-toggle .icon-bar:nth-of-type(3) {
		top: 2px;
	}
	.navbar-toggle .icon-bar {
		position: relative;
		transition: all 200ms ease-in-out;
	}
	@media (max-width: 767px){
		.navbar-toggle .icon-bar + .icon-bar {
    	margin-top: 1px;
		}
	}

	.navbar-toggle.active .icon-bar:nth-of-type(1),
	.navbar-toggle.active .icon-bar:nth-of-type(3) {
		transform: rotate(-135deg);
		background: transparent;
		border-right: 0;
		border-top: 0;
		border-color: #e5b972 transparent transparent;
		border: 2px solid #e5b972;
		width: 12px;
		height: 12px;
		transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
		border-left: 2px;
		border-bottom: 2px;
		@media (max-width: 767px){
			width: 9px;
			height: 9px;
		}
	}
	.navbar-toggle.active .icon-bar:nth-of-type(1) {
		left: -5px;
		top: 13px;
	}

	.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background: transparent;
	}

	.navbar-toggle.active .icon-bar:nth-of-type(3) {
		top: -13px;
		left: 10px;
		
		@media (max-width: 1200px){
			top: -9px;
		}
		@media (max-width: 767px){
			top: -1px;
			left: 7px;
		}
	}

	.navbar-title {
		position: relative;
		cursor: pointer;
		margin: 0;

		&:after {
			position: absolute;
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 4px 0;
			border-color: #fff transparent transparent;
			transition: border-color 0.3s ease-in-out;
			top: 50%;
			right: 0;
			margin-top: -4.5px;
			@media (max-width: 1200px){
				top: 7px;
			}
		}

		&::before {
			content: '';
			position: absolute;
			left: 0px;
			bottom: -18px;
			width: 100%;
			height: 1px;
			background-color: #4a4a4a;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
		}

		&.active {
			&::before {
				opacity: 1;
			}
		}

		&.active,
		&:hover {
			color: #e5b972;
			&:after {
				border-color: #e5b972 transparent transparent;
			}
		}

		&.active {
			&:after {
				transform: rotate(180deg);
				border-color: #e5b972 transparent transparent;
			}
		}
	}

	.subnavbar-nav {
		list-style: none;
		display: none;
		padding: 29px 0 1px 20px;

		li {
			&:before {
				content: '-';
				margin-right: 5px;
			}
		}

		li + li {
			margin-top: 3px;
		}

		a {
			font-size: 16px;
			line-height: 30px;
			color: #bdbcbc;
			text-decoration: none;
			font-family: 'HelveticaNeueCyr Roman';
			transition: color 0.2s ease-in-out;
			@media (max-width: 767px){
				font-size: 14px;
			}

			&.active, &:hover {
				color: #e5b972;
			}
		}
	}

	.header-row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 767px){
			flex-wrap: wrap;
		}
	}

	.header-col {
		display: flex;
	}

	.header-col-phone {
		flex-direction: column;
	}

	.header-logo {
		margin: 0 15px;
	}
	
	.logo_phone {
		display: none;
		color: #fff;
		font-size: 16px;
		text-decoration: none;
		padding-left: 15px;
		min-width: 150px;
		@media (max-width: 767px){
			display: block;
		}
		@media (max-width: 490px){
			font-size: 12px;
		}
	}

	.logo{
		text-align: center;
		@media (max-width: 1200px){
			text-align: right;
			img{
				width: 100%;
			}
		}
		@media (max-width: 767px){
			padding-left: 35px;
		}
	}
	.order_info{
		float: left;
		margin-left: 60px;
		@media (max-width: 1600px){
			margin-left: 30px;
		}
		@media (min-width: 767px) and (max-width: 1600px){
			//min-width: 200px;
		}

		@media (max-width: 767px) {
			margin-left: 0;
			//min-width: auto;
		}
		/* @media (max-width: 767px){
    	margin-left: 0;
   	 	margin-top: 5px;
		} */
		@media (max-width: 580px){
    	margin-left: 0;
		}
		.order_title{
			font-size: 18px;
			color: #d7d7d7;
			margin-bottom: 22px;
			letter-spacing: 0.2px;
			margin-top: 0;
			@media (max-width: 1600px){
				font-size: 14px;
			}
			@media (max-width: 1200px){
				font-size: 14px;
				margin-bottom: 5px;
				span{
					display: none;
				}
			}
			@media (max-width:767px){
				display: none;
			}
		}
	}

	.header-col-phone{
		position: relative;
		&:after {
		@media (max-width: 767px){
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 20px;
			background-color: #515151;
		}
	}
	}

	.header-col-description,
	.header-col-phone {
		@media (max-width: 767px){
			order: 1;
			width: 50%;
			margin-top: 5px;
		}
	}

	.header-col-logo {
		@media (min-width: 767px) {
			margin-left: 20px;
			margin-right: 20px;
		}
		@media (max-width: 767px){
			padding-bottom: 20px;
			border-bottom: 1px solid #515151;
			order: 0;
			width: 100%;
			align-items: center;
			justify-content: space-between;
		}
	}

	.header-col-phone{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: relative;
		text-align: right;
		@media (max-width: 1200px){
		  display: flex;
    	flex-direction: column;
    }
    @media (max-width: 767px){
			padding-left: 0;
		}
		
		.call_line{
			font-size: 18px;
			color: #d7d7d7;
			letter-spacing: 0.2px;
			@media (max-width: 1900px){
				font-size: 14px;
			}
			@media (max-width: 1600px){
				font-size: 12px;
			}
			@media (max-width: 1200px){
				display: none;
			}

			&:nth-child(1), &:nth-child(2){
				margin-bottom: 22px;
			}
			&:nth-child(2){
				text-align: right;
			}
			&.call_phone{
				letter-spacing: 2.1px;
				@media (max-width: 1200px){
					display: block;
					width: 100%;
					font-size: 14px;
					margin-bottom: 5px;
		    }
		    @media (max-width: 767px){
					display: none;
					padding-left: 0;
					letter-spacing: 0;
					font-size: 12px;
					margin-bottom: 5px
		    }
			}
		}

		.call_link{
			text-align: center;
			@media (max-width: 1200px){
				&:after{
					display: none;
				}
			}
			@media (max-width: 767px){
				text-align: right;
			}

			&:after{
				right: 15px;
			}
			&:hover{
				&:after{
					right: 0;
				}
	    }
		}
	}

	.order_callback_link, .call_link{
		color: #e5b972;
		//width: 200px;
		display: block;
		text-align: center;
		font-family: 'HelveticaNeueCyr Bold';
		background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,#826d35),color-stop(50%,#e5b972));
		background-image: -webkit-linear-gradient(90deg,#826d35,#e5b972 50%);
		background-image: linear-gradient(90deg,#826d35,#e5b972 50%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 15px;
		letter-spacing: 3px;
		text-transform: uppercase;
		text-decoration: none;
		position: relative;	
		border: 1px solid #e5b972;
		line-height: 38px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		
		@media (min-width: 767px){
			width: 200px;
		}
		@media (max-width: 1200px){
			font-size: 12px;
		}
		@media (max-width: 767px){
			font-size: 11px;
			letter-spacing: 2.42px;
			border: none;
			line-height: normal;
			padding: 5px 0;
			line-height: 24px;
		}
		@media (max-width: 580px){
			font-size: 10px;
			letter-spacing: 2px;
		}

		&:hover{
			color: #e5b972;
			-webkit-text-fill-color: #e5b972;
			background-image: transparent;
			box-shadow: 0 3px 15px 0 #e5b972;
			//border-color: #e5b972;
			@media (max-width: 767px){
				box-shadow: none;
			}
		}

		
		/* 	    &:after{
	    	width: 25px;
	    	height: 2px;
	    	background: #e5b972;
	    	position: absolute;
	    	right: -57px;
	    	top: 8px;
	    	content: "";
	    	-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	    } */
		&:focus{
			outline: none;
		}
	}	
}