.list_article_page{
	padding-top: 0;
	.article__name{
		font-family: 'PT Serif';
		margin-top: 0;
		margin-bottom: 39px;
		font-size: 36px;
		color: #ebebeb;
		letter-spacing: 0.9px;
		@media (max-width: 767px){
			font-size: 24px;
			margin-bottom: 30px;
		}
	}
	.article_grid {
	    display: flex;
	    position: relative;
	    text-decoration: none;
	    margin-bottom: 60px;
	    @media (max-width: 480px){
			margin-bottom: 30px;
		}
		.wrap_img{
			padding: 0;
			overflow: hidden;
			height: 215px;
			@media (max-width: 480px){
				height: 120px;
			}

			&:hover{
				.wrap_img_hover{
					opacity: 1;
				}
				
			}
			img{
				transition: 0.3s ease-in-out;
				height: 100%;
				width: 100%;
			}
		}
		.article_preview{
			display: flex;
			flex-direction: column;
			padding-left: 30px;
			padding-right: 0;
			@media (max-width: 480px){
				padding-left: 15px;
			}
			
			.article_date {
				font-family: 'HelveticaNeueCyr Roman';
				font-size: 12px;
				text-transform: uppercase;
				color: #e5b972;
				margin-bottom: 5px;
				@media (max-width: 480px){
				font-size: 12px;
				line-height: 17px;
				}
		  }
		    .article_text {
		    	font-size: 18px;
		    	font-family: 'HelveticaNeueCyr Roman';
					color: #bdbcbc;
					line-height: 29px;
			    display: flex;
			    align-items: center;
					margin-bottom: 0;
					transition: all 0.3s ease-in;
			    @media (max-width: 1600px){
					font-size: 15px;
					line-height: 28px;
			    }
			    @media (max-width: 480px){
					font-size: 12px;
					line-height: 17px;
					min-height: auto;
				}
		    }

		}
	}
	.article_grid:hover .wrap_img img {
		transform: scale(1.06)
	}

	.article_grid:hover .article_text {
		color: #e5b972;
	}
}