
$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower
@import "fonts";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: 'HelveticaNeueCyr Roman';
}

.content_main {
    @media (max-width: 1600px){
        padding: 0 25px;
    }
    @media (max-width: 767px){
        padding: 0 15px;
    }
}
.container{
    @media (min-width: 1280px){
        width: 1280px;
    }
}
.no_scroll{
    overflow: hidden;
    @media (min-width: 1200px){
        .b_main_screen{
            padding-right: 17px;
            .container-fluid{
                padding-right: 15px;
            }
        }
        .container-fluid{
            padding-right: 32px;
        }
    }
}

.loader{
    position: fixed;
    background: #ffffff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.sticky {
    position: fixed;
    z-index: 101;
    padding-top: 0 !important;

}
.b_catalog_filters>div{
    @media (min-width: 1200px){
        padding-top: 0 !important;
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            top: 155px;
            left: 0;
            background: #2f2e2e;
            height: 2px;
        }
    }
}
.stop {
    position: relative;
    z-index: 101;
}
.sucess-msg{
    display: none;
    position: fixed;
    background: url(../images/modal_bg.png) no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    &.active{
        display: flex;
    }
}

@import "commons-style";
@import "header";
@import "main_screen";
@import "catalog";
@import "order";
@import "production";
@import "cooperation";
@import "caralog_filter";
@import "catalog_product_page";
@import "pagination";
@import "sort_by";
@import "single_product_page";
@import "article_page";
@import "gallery_page";
@import "galley_single_page";
@import "services_page";
@import "conditions";
@import "list_article_page";
@import "about_page";
@import "about_us";
@import "partners";
@import "contacts_page";
@import "search_page";
@import "404_page";
@import "factory_page";
@import "model_page";
@import "modal";
@import "footer";