.b_main_screen{
  background: url(../images/main_bg.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 150px;
  overflow: hidden;
  @media (max-width: 767px){
    padding-bottom: 100px;
  }
  header{
    border: none;
    margin-bottom: 0;
    @media (min-width: 1200px){
      padding: 30px 0;
    }
  }
  
  .slider_promo {

    .slide_promo {
      display: block;
      text-decoration: none;

      .title_promo {
        text-align: center;
        font-size: 32px;
        color: #d0d0d0;
        font-family: 'HelveticaNeueCyr Light';
        margin-top: 35px;
        transition: color 0.2s ease-in-out, text-shadow 0.3s ease;
        @media (max-width: 767px){
          margin-top: 20px;
          font-size: 15px;
        }
      }

      .wrap_img {
        position: relative;
        display: flex;

        /* .wrap_img_hover {
          font-family: 'HelveticaNeueCyr Bold';
          font-size: 14px;
          text-transform: uppercase;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,rgba(130, 109, 53, 0.7)),color-stop(50%,rgba(229, 185, 114, 0.7)));
          background-image: -webkit-linear-gradient(90deg,rgba(130, 109, 53, 0.7),rgba(229, 185, 114, 0.7) 50%);
          background-image: linear-gradient(90deg, rgba(130, 109, 53, 0.7), rgba(229, 185, 114, 0.7) 50%);
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 1;
          opacity: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          letter-spacing: 1px;
        } */

        /* &:hover img{
          .wrap_img_hover{
            opacity: 1;
          }
        } */
      }

      &:hover .slide_promo_imgbox img{
        transform: scale(1.05);
      }

      &:hover .title_promo {
        color: #e5b972;
        text-shadow: 0 2px 8px #e5b972;
      }

      .slide_promo_imgbox {
        height: 716px;
        overflow: hidden;
        @media (max-width: 767px){
          height: 330px;
        }
      }

      img {
        transition: transform 0.3s ease-in-out;
        -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.45);
        -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.45);
        box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.45);
        
      }

      &:focus{
        outline: none;
      }
      
    }

  }
  .slick-arrow{
    position: absolute;
    bottom: -21px;
    z-index: 2;
    @media (max-width: 1200px) {
      bottom: -16px;
    }
    @media (max-width: 767px) {
      bottom: -11px;
    }
  }
  .slick-dots{
      //position: absolute;
      display: flex;
      justify-content: center;
      list-style: none;
      margin-top: 20px;
      left: 15px;
      right: 0;
      margin: 10px auto;
      width: auto;
      @media (max-width: 767px){
        width: 175px;
      }
    li {
      float: left;
      position: relative;
      width: 20px;
      height: 20px;
      background-color: #3e3e3e;
      border: 1px solid transparent;
      margin: 0 5px;
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 20px;
      transition: border-color 0.3s ease-in-out;
      @media (max-width: 767px){
          margin: 0 3px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        width: 6px;
        height: 6px;
        transition: background-color 0.3s ease-in-out;
      }

      &:hover {
        border-color: #e5b972;
      }

      &:hover:before {
        background-color: #e5b972;
      }

      button {
        display: none;
        // background: transparent;
        // font-size: 0;
        // border: none;
        // background: #cbcbcb;
        // height: 2px;
        // width: 100%;
        // &:focus{
        // 	outline: none;
        // }
        // &:hover{
        // 	background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,#826d35),color-stop(50%,#e5b972));
        //   background-image: -webkit-linear-gradient(90deg,#826d35,#e5b972 50%);
        //   background-image: linear-gradient(90deg,#826d35,#e5b972 50%);
        // }
      }
      &.slick-active{
        border-color: #e5b972;
        &:before {
          background-color: #e5b972;
        }
      }

      
    }
  }
  .slick-next, .slick-prev{
    width: 60px;
    height: 60px;
    font-size: 0;
    border: none;
    background: transparent;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #826d35 0%, #e5b972 100%) !important;
    -webkit-border-image: -webkit-linear-gradient(top left, #e5b972 0%, #e5b972 100%) !important;
    border-image: linear-gradient(to bottom right, #826d35 0%, #e5b972 100%) !important;
    border-image-slice: 1 !important;
    @media (max-width: 1200px){
      width: 50px;
      height: 50px;
    }
    @media (max-width: 767px){
      width: 40px;
      height: 40px;
    }
    &:focus{
      outline: none;
    }
  }

  .slick-next{
    right: 30%;
    @media (max-width: 767px) {
      right: 22%;
    }
    @media (max-width: 480px) {
      right: 5%;
    }

    &:hover{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#826d35+1,e5b972+100 */
      background: rgb(130,109,53); /* Old browsers */
      background: -moz-linear-gradient(right, rgba(130,109,53,1) 1%, rgba(229,185,114,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(right, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to left, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
      border: none;
      &:before, &:after{
        left: 27px;
        @media (max-width: 1200px){
          left: 21px;
        }
        @media (max-width: 767px){
          left: 15px;
        }
      }
    }
  }

  .slick-prev {
    left: 30%;
    @media (max-width: 767px) {
      left: 22%;
    }
    @media (max-width: 480px) {
      left: 5%;
    }
    &:hover{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#826d35+1,e5b972+100 */
      background: rgb(130,109,53); /* Old browsers */
      background: -moz-linear-gradient(left, rgba(130,109,53,1) 1%, rgba(229,185,114,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
      border: none;
      &:before, &:after{
        left: 24px;
        @media (max-width: 1200px){
          left: 19px;
        }
        @media (max-width: 767px){
          left: 15px;
        }
      }
    }

  }
  .slick-list{
    padding-bottom: 43px;
    @media (max-width: 767px){
      padding-bottom: 12px;
    }
  }

  .slick-next,
  .slick-prev {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
  }

  .slick-next,
  .slick-prev { padding: 0.5em 1.5em }

  #next { text-align: right }

  .slick-next:before,
  .slick-next:after,
  .slick-prev:before,
  .slick-prev:after {
      background: #fff;
      border-radius: 0.25em;
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      left: 25px;
      top: 50%;
      width: 11px;
      font-size: 17px;
      @media (max-width: 1200px){
      left: 19px;
    }
    @media (max-width: 767px){
      left: 13px;
    }
  }

  .slick-prev:before,
  .slick-prev:after { 
    left: 22px;
    @media (max-width: 1200px){
      left: 17px;
    }
    @media (max-width: 767px){
      left: 13px;
    }
  }

  .slick-next:before,
  .slick-prev:before {
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }

  .slick-next:after,
  .slick-prev:after {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }

  .slick-prev:after,
  .slick-next:before { margin-top: -.36em }

  
}

.index_page {
  .product_grid {
    display: block;
    padding-bottom: 0px;
    margin-bottom: 30px !important;

    &:hover .wrap_img img {
      transform: scale(1.05);
    }
    &:hover .product_name {
      color: #e5b972;
    }

    .wrap_img {
      display: block !important;
    }

    .product-description {
      background-color: #292929;
      background-image: linear-gradient(to left, #2e2e2e, #212121);
      padding: 25px 0px;
      border-top: 3px solid #e5b972;
      @media (max-width: 1200px){
        padding: 20px 0px;
      }
    }

    .product_name {
      padding: 0 8px !important;
      margin: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 50px;
      line-height: 30px;
      transition: color 0.3s ease-in-out;
      @media (max-width: 1200px){
        line-height: 20px;
      }
    }
  }
  
}