@mixin adaptive($from, $to: false) {
  @if($to ) {
    @media only screen and (min-width: $from) and (max-width: $to) {
      @content;
    }
  }@else {
    @media only screen and (max-width: $from) {
      @content;
    }
  }
}