.modal{
	background: url(../images/modal_bg.png) no-repeat;
	background-size: cover;
	.modal-dialog{
		@media (min-width: 768px){
			width: 100%;
		}
		@media (min-width: 1280px){
		    width: 1280px;
		    margin: 8% auto 0;
		}
		.modal-content{
			background: transparent;
			box-shadow: none;
			border: none;
			.close_modal{
				background: transparent;
				border: none;
				float: right;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-ms-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
				&:focus{
					outline: none;
				}
				&:hover{
					transform: rotate(90deg);
				}
			}
			.left_modal{
				img{
					width: 100%;
				}
			}
			.right_modal{
				padding-left: 135px;
				@media (max-width: 1200px){
					padding-left: 15px;
				}
				.modal_title{
					font-size: 32px;
					color: #ebebeb;
					font-family: 'Playfair Display Bold';
					margin: 30px 0 25px;
					@media (max-width: 767px){
						font-size: 25px;
					}
				}
				.modal_description{
					font-size: 18px;
					color: #e2e2e2;
					font-family: 'HelveticaNeueCyr Medium';
					line-height: 22px;
					margin-bottom: 15px;
					@media (max-width: 767px){
						font-size: 14px;
					}
				}
				.modal_form{
					.form_input{
						width: 100%;
						max-width: 100%;
						margin-bottom: 25px;
						height: 40px;
						background: transparent;
						border: none;
						font-size: 16px;
						border-bottom: 2px solid #3d3d3d;
						&::placeholder{
							text-transform: uppercase;
							color: #bdbcbc;
							font-family: 'HelveticaNeueCyr Bold';
							letter-spacing: 2px;
							font-size: 13px;
						}
						&:focus{
							outline: none;
							border-bottom: 2px solid #c2c2c2;
						}
						&:first-child{
							margin-bottom: 15px;
						}
						&.error_inp{
							border-bottom: 2px solid #aa3f3f;
							color: #aa3f3f;
							text-transform: uppercase;
							font-size: 13px;
						}
					}
					textarea{
						min-height: 100px;
					}
					.recaptcha{
						width: 100%;
						img{
							width: 100%;
						}
					}
					.btn_form{
						width: 100%;
						margin-top: 50px;
						background: rgb(130,109,53); /* Old browsers */
						background: -moz-linear-gradient(left, rgba(130,109,53,1) 0%, rgba(229,185,114,1) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(left, rgba(130,109,53,1) 0%,rgba(229,185,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to right, rgba(130,109,53,1) 0%,rgba(229,185,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
						border: none;
						color: #fff;
						text-align: center;
						font-family: 'HelveticaNeueCyr Bold';
						letter-spacing: 3px;
						font-size: 15px;
						text-transform: uppercase;
						line-height: 60px;
						z-index: 1;
						position: relative;
						&:before{
						  	position: absolute;
						  	content: '';
						  	top: 0;
						  	left: 0;
						  	width: 100%;
						  	height: 100%;
							background: rgb(130,109,53); /* Old browsers */
							background: -moz-linear-gradient(left, rgba(130,109,53,1) 100%, rgba(229,185,114,1) 0%); /* FF3.6-15 */
							background: -webkit-linear-gradient(left, rgba(130,109,53,1) 100%,rgba(229,185,114,1) 0%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to right, rgba(130,109,53,1) 100%,rgba(229,185,114,1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
						  	transition: opacity 0.5s ease-out;
						  	z-index: 2;
						  	opacity: 0;
						}
						&:hover:before{
							opacity: 1;
						}
						span{
							position: relative;
  							z-index: 3;
						}
						&:focus{
							outline: none;
						}
					}
				}
			}
		}

	}
}
#callback{
	.right_modal{
		padding-left: 60px;
	}
}