@import "mixin";

.model_page { 
  font-family: 'HelveticaNeueCyr Roman';
  font-weight: normal;
  
  .model {

    &__intro {
      display: flex;
      margin-bottom: 93px;
      @include adaptive(767px) {
        display: block;
        margin-bottom: 50px;
      }
    }

    &__title {
      position: relative;
      padding-bottom: 31px;
      margin-top: 0;
      margin-bottom: 34px;
      font-family: 'PT Serif';
      font-size: 36px;
      line-height: 42px;
      color: #ebebeb;
      letter-spacing: 0.9px;
      @include adaptive(767px) {
        margin-bottom: 29px;
        padding-bottom: 0;
        text-align: center;
        font-size: 24px;
        line-height: 42px;
        letter-spacing: 0.6px;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 85px;
        height: 1px;
        background-color: #979797;
        @include adaptive(767px) {
          display: none;
        }
      }
    }

    &__about {
      padding-top: 48px;
      padding-bottom: 48px;
      border-top: 1px solid #979797;
      border-bottom: 1px solid #979797;
      @include adaptive(767px) {
        border-top-color: transparent;
        margin-top: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    &__paragraph {
      margin: 0;
      font-size: 18px;
      line-height: 29px;
      letter-spacing: 0.27px;
      font-weight: 400;
      color: #bdbcbc;
    }

    &__image {
      display: block;
      width: 100%;
      height: auto;
    }

    &-galery {
      width: 100%;
      margin-bottom: 52px;
    }

    &-galery__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      list-style: none;
      @include adaptive(767px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &-galery__item {
      display: block;
      width: 40.1%;
      margin-bottom: 34px;
      outline: none;
      @include adaptive(767px) {
        width: 80%;
      }
      &:hover {
        text-decoration: none;
      }
    }

    &-galery__preview {
      display: block;
      width: 100%;
      position: relative;
      padding-top: 63.2%;
    }

    &-galery__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &-galery__description {
      margin: 35px 0 0 0;
      text-align: center;
      text-decoration: none;
      font-family: 'HelveticaNeueCyr Roman';
      font-size: 18px;
      color: #bdbcbc;
      letter-spacing: 0.27px;

      @include adaptive(767px) {
        font-size: 16px;
        margin-top: 25px;
      }
    }

    &-table__wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 104px;
      @include adaptive(767px) {
        margin-bottom: 15px;
      }
    }

    &-table {
      width: 640px;
      border: 1px solid #fff;
      border-top: none;
      font-family: 'HelveticaNeueCyr Roman';

      caption {
        text-align: center;
        font-size: 18px;
        color: #ffffff;
        border: 2px solid #fff;
        border-bottom-color: transparent;
        
        .model-table__type {
          &:before {
            content: '\A';
            white-space: pre;
          }
        }
      }

      thead {

        td {
          border-top: none;
          border-left-color: transparent;
          border-right-color: transparent;
        }

        td:first-child {
          position: relative;
          padding-left: 4px;
          border-left-color: #fff;

          &:before {
            content: '';
            position: absolute;
            left: -2px;
            top: -5px;
            width: 2px;
            height: 10px;
            background-color: #fff;
          }
        }

        td:last-child {
          position: relative;
          border-right-color: #fff;
          
          &:before {
            content: '';
            position: absolute;
            right: -2px;
            top: -5px;
            width: 2px;
            height: 10px;
            background-color: #fff;
          }
        }

        td:nth-child(n+2) {
          text-align: center;
        }
      }

      tbody {
        td:first-child {
          padding-left: 4px;
        }

        td:nth-child(n+2) {
          text-align: right;
          padding-right: 4px;
        }
      }

      td {
        border: 2px solid #fff;
        font-size: 12px;
        color: #dedede;
        line-height: 21px;
        letter-spacing: 0.18px;
      }
    }
  // model end    
  }

  .model__paragraph + .model__paragraph {
    margin-top: 30px;

    @include adaptive(767px) {
      margin-top: 20px;
    }
  }
}
