.b_order{
  //background: url(../images/order_bg.jpg) no-repeat;
  //background-size: cover;
  background-color: #3e3e3e;
  overflow: hidden;
  @media (min-width: 1280px){
    padding-bottom: 65px;
  }
  .wrap_order{
    padding: 92px 0 106px;
    @media (max-width: 1200px){
    padding: 37px 0 37px;
    }
    @media (max-width: 767px){
    padding: 33px 120px; 
    }
    @media (max-width: 630px){
      padding: 23px 0px;
    }
    .order_left{
      padding-right: 90px;
      @media (max-width: 1200px){
        padding-right: 15px;

      .underline-title {
        @media (max-width: 767px){
          width: 60%;
          }
        @media (max-width: 630px){
          width: 85%;
          }
        }
      }

      .title_order{
        margin: 0;
        font-family: 'PT Serif';
        font-size: 36px;
        letter-spacing: 0.9px;
        line-height: 42px;
        color: #ebebeb;
        margin-bottom: 35px;
        @media (max-width: 1200px){
          font-size: 20px;
          line-height: 30px;
        }
        @media (max-width: 767px){
          margin-bottom: 20px;
        }
    }
      .order_text{
        color: #ebebeb;
        font-size: 18px;
        font-family: 'HelveticaNeueCyr Medium';
        line-height: 26px;
        letter-spacing: 0.5px;
        @media (max-width: 1200px){
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .order_list{
      font-family: 'HelveticaNeueCyr Roman';
      padding-left: 80px;
      padding-top: 18px;
      list-style: none;
      @media (max-width: 1200px){
        padding-top: 0;
      }
      @media (max-width: 767px){
        margin-top: 44px;
        padding-left: 0px;
      }
      @media (max-width: 767px){
        margin-top: 20px;
      }

      li {
        position: relative;
        font-size: 18px;
        color: #bdbcbc;
        line-height: 27px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        padding-left: 65px;
        @media (max-width: 1200px){
          padding-left: 50px;
          font-size: 14px;
          color: #dedede;
          line-height: 18px;
          margin-bottom: 20px;
          height: 50px;
          display: flex;
          align-items: center;
        }
        &:before{
          content: "";
          position: absolute;
          left: 0px;
          top: -2px;
          width: 35px;
          height: 35px;
          background: url(../images/icon/sprite_home.svg) no-repeat;
          background-position: -70px -130px;
          background-size: 900px;

          @media (max-width: 1200px){
            top: 2px; 
          }
        }
      }
      
    }
  }
  .wrap_work_steps{
    @media (max-width: 1200px){
      margin-bottom: 77px;
    }
    @media (max-width: 630px){
      margin-bottom: 0;
    }
    /* .title_work_steps{
      margin: 0;
      font-family: 'PT Serif';
      font-size: 36px;
      letter-spacing: 0.9px;
      line-height: 42px;
      color: #ebebeb;
      margin-bottom: 60px;
      @media (max-width: 767px){
        font-size: 15px;
        }
        @media (max-width: 480px){
        margin-bottom: 20px;
        }
    } */
    .work_steps{
      display: flex;
      flex-wrap: wrap;
      padding: 50px 0 0px 0;
      border-top: 1px solid #9b9b9b;
      border-bottom: 1px solid #9b9b9b;
      @media (max-width: 1200px){
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (max-width: 630px){
        padding-left: 0px;
        padding-right: 0px;
      }

      .work_step{
        cursor: pointer;
        padding-left: 65px;
        margin-right: 3.25%;
        width: 18%;
        margin-bottom: 50px;
        font-size: 18px;
        color: #bdbcbc;
        line-height: 24px;
        position: relative;
        display: flex;
        align-items: center;
        @media (max-width: 1200px){
          width: 30%;
          font-size: 14px;
          margin-bottom: 27px;
        }
        @media (max-width: 767px){
          width: 45%;
          font-size: 12px;
          height: 44px;
          margin-right: 0;
          br{
            display: none;
          }
        }
          

        &:nth-child(5), &:last-child{
          margin-right: 0;
          width: 15%;
          @media (max-width: 1200px){
              width: 30%;
              margin-right: 3.25%;
            }
            @media (max-width: 767px){
              width: 45%;
              margin-right: 0;
            }
        }
        &:nth-child(2n+1){	
          @media (max-width: 767px){
              margin-right: 10%;
            }
          }
        &:before{
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 50px;
          height: 50px;
          background: url(../images/icon/sprite_home.svg) no-repeat;
          background-size: 900px;
        }
        &.treatment{
          &:before{
            background-position: -150px -130px;
          }
        }
        &.departure{
          &:before{
            background-position: -210px -130px;
          }
        }
        &.development{
          &:before{
            background-position: -277px -127px;
          }
        }
        &.commercial{
          &:before{
            background-position: -340px -130px;
          }
        }
        &.contract{
          &:before{
            background-position: -410px -130px;
          }
        }
        &.measurement{
          &:before{
            background-position: -485px -130px;
          }
        }
        &.approval{
          &:before{
            background-position: -560px -130px;
          }
        }
        &.production{
          &:before{
            background-position: -625px -130px;
          }
        }
        &.installation{
          &:before{
            background-position: -696px -130px;
          }
        }
        &.delivery{
          &:before{
            background-position: -772px -130px;
          }
        }
        .index_step{
          display: flex;
          font-family: 'HelveticaNeueCyr Roman';
          opacity: 0;
          position: absolute;
          letter-spacing: 0.27px;
          left: 50%;
          top: 50%;
          padding-top: 3px;
          width: 0;
          height: 0;
          background: #444444;
          align-items: center;
          justify-content: center;
          color: #fff;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          -webkit-box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.08);
          -moz-box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.08);
          box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.08);
          &.active{
              opacity: 1;
              width: 50px;
              height: 50px;
              left: 0;
              top: -3px;
          }
        }
        
      }

      
    }
  }
}