.b_pagination{
	position: relative;
	display: block;
	margin: 0;
	text-align: center;
	.wrap_links_page{
		display: inline-block;
		@media (max-width: 480px){
			margin-top: 10px;
		}
		.link_page, span{
			width: 60px;
			height: 60px;
			font-size: 18px;
			color: #bdbcbc;
			text-decoration: none;
		  display: flex;
    	float: left;
    	align-items: center;
    	justify-content: center;
    	-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-ms-transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
			@media (max-width: 1200px){
				width: 50px;
				height: 50px;
			}
			@media (max-width: 767px){
				width: 40px;
				height: 40px;
			}
			@media (max-width: 480px){
				width: 20px;
				height: 20px;
				font-size: 14px;
			}
			
			&:hover, &.active{
				color: #e5b972;
				background: #404040;
				@media (max-width: 480px){
					background: none;
				}
			}
		}
	}
	.next_page, .prev_page{
		width: 60px;
		height: 60px;
		font-size: 0;
		border: none;
		background: transparent;
		border: 2px solid transparent;
	    -moz-border-image: -moz-linear-gradient(top left, #826d35 0%, #e5b972 100%) !important;
	    -webkit-border-image: -webkit-linear-gradient(top left, #e5b972 0%, #e5b972 100%) !important;
	    border-image: linear-gradient(to bottom right, #826d35 0%, #e5b972 100%) !important;
	    border-image-slice: 1 !important;
		@media (max-width: 1200px){
			width: 50px;
			height: 50px;
		}
		@media (max-width: 767px){
			width: 40px;
			height: 40px;
		}
		&:focus{
			outline: none;
		}

	}
	.next_page{
		margin-left: 65px;
		@media (max-width: 767px){
			margin-left: 27px;
		}
		@media (max-width: 340px){
			margin-left: 20px;
		}
		&:hover{
			background: rgb(130,109,53);
			background: -moz-linear-gradient(right, rgba(130,109,53,1) 1%, rgba(229,185,114,1) 100%);
			background: -webkit-linear-gradient(right, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%);
			background: linear-gradient(to left, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
			border: none;
			&:before, &:after{
				margin-left: 5px;
				@media (max-width: 767px){
					margin-left: 3px;
				}
			}
		}
	}
	.prev_page{
		margin-right: 65px;
		@media (max-width: 767px){
			margin-right: 27px;
		}
		@media (max-width: 340px){
			margin-right: 20px;
		}
		&:hover{
			background: rgb(130,109,53);
			background: -moz-linear-gradient(left, rgba(130,109,53,1) 1%, rgba(229,185,114,1) 100%);
			background: -webkit-linear-gradient(left, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%); 
			background: linear-gradient(to right, rgba(130,109,53,1) 1%,rgba(229,185,114,1) 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826d35', endColorstr='#e5b972',GradientType=1 ); /* IE6-9 */
			border: none;
			&:before{
				margin-left: -5px;
				@media (max-width: 767px){
					margin-left: -3px;
				}
			}
		}

	}
	.slick-list{
		padding-bottom: 15px;
		@media (max-width: 767px){
			padding-bottom: 0;
		}
	}

	.next_page,
	.prev_page {
	  display: inline-block;
	  overflow: hidden;
		position: relative;
	  text-decoration: none;
	}

	#next {
		text-align: right 
	}


	.prev_page:before,
	.next_page:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		border: 3px solid #fff;
		width: 12px;
		height: 12px;
		transition: margin 0.2s ease-in-out;

		@media (max-width: 767px){
			width: 9px;
			height: 9px;
			border-width: 2px;
		}
	}

	.prev_page:before {
		border-right: 0;
    border-top: 0;
		transform: translate(calc(-50% + 3px), -50%) rotate(45deg);
		@media (max-width: 767px){
			transform: translate(calc(-50% + 1px), -50%) rotate(45deg);
		}
	}

	.next_page:before {
		border-left: 1px;
		border-bottom: 1px;
		transform: translate(calc(-50% - 3px), -50%) rotate(45deg);
		@media (max-width: 767px){
			transform: translate(calc(-50% - 1px), -50%) rotate(45deg);
		}
	}
}