.b_partners {
	/* padding: 100px 0;
	@media (max-width: 1200px){
		padding: 15px 0 50px;
	} */
	.right_cooperation {
		.logo_partners{
			.wrap_img{
				width: 25%;
				&:nth-child(5), &:nth-child(6), &:nth-child(7){
					margin-bottom: 0;
					@media (max-width: 767px){
						margin-bottom: 30px;
					}
				}
				@media (max-width: 767px){
					width: 50%;
					margin-bottom: 30px;
				}
			}
		}
	}
	.left_partners{
		img{
			width: 100%;
		}
	}
	.h2_about_title{
		line-height: 20px;
		margin-bottom: 90px;
		margin-top: 0;
		padding-left: 85px;
		@media (max-width: 767px){
			padding-left: 0;
			font-size: 20px;
		}
	}
	.partners_title{
		font-family: 'Playfair Display Bold';
		font-size: 20px;
		color: #ebebeb;
		margin-bottom: 25px;
	}
	.partners_description{
		width: 60%;
		padding-left: 85px;
		@media (max-width: 767px){
			width: 100%;
			padding-left: 0;
		}
		p{
			font-size: 16px;
			color: #bdbcbc;
			span{
				color: #fff;
			}
		}
	}
}