.b_production{
	background: url(../images/production_bg.jpg) no-repeat;
	background-size: cover;
	padding: 58px 0 58px 0;
	@media (max-width: 1200px){
		padding: 44px 0;
		background: #323232;
	}
/* 	.title_production{
		margin: 0;
		font-family: 'PT Serif';
		font-size: 36px;
		color: #ebebeb;
		line-height: 42px;
		letter-spacing: 0.9px;
		margin-bottom: 60px;
		@media (max-width: 1200px){
			font-size: 20px;
			br{
				display: none;
			}
			
		}
		@media (max-width: 767px){
			font-size: 15px;
			margin-bottom: 15px;
			line-height: 20px;
			br{
				display: block;
			}
		}
	} */
	.left_production{
		@media (max-width: 1200px){
			padding-right: 0;
			img{
				width: 100%;
				height: 460px;
			}
		}
		@media (max-width: 767px){
			img{
				display: none;
			}
			
		}

		.common-title {
			@media (max-width: 767px){
				padding-left: 45px;
			}
			@media (max-width: 630px){
				padding-left: 0px;
			}
		}
	}
	.right_production{
		font-family: 'HelveticaNeueCyr Roman';
		padding-left: 30px;
		@media (max-width: 767px){
			padding-left: 15px;
		}
		p {
			color: #bdbcbc;
			font-size: 18px;
			line-height: 29px;
			margin-bottom: 0px;
			letter-spacing: 0.27px;
			@media (max-width: 1200px){
				font-size: 14px;
				line-height: 20px;
				color: #dedede;
				letter-spacing: 0.21px;
			}
			@media (max-width: 767px){
				padding-left: 45px;
				padding-right: 45px;
			}
			@media (max-width: 630px){
				padding-left: 0px;
				padding-right: 0px;
			}
		
		}
		p + p {
			margin-top: 31px;
			@media (max-width: 767px){
				margin-top: 20px;
			}
		}

		.list_production{
			list-style: none;
			margin-top: 0;
			margin-bottom: 0;
			margin-left: -25px;
			@media (max-width: 767px){
				padding-left: 45px;
				padding-right: 30px;
			}
			@media (max-width: 630px){
				padding-left: 0px;
				margin-left: 0;
			}

			li{
				padding-left: 25px;
				color: #bdbcbc;
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 6px;
				position: relative;
				@media (max-width: 1200px){
					font-size: 14px;
					color: #dedede;
				}
				&:before{
					left: 3px;
					top: 6px;
					content: "";
					width: 8px;
					height: 8px;
					background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,rgba(130, 109, 53, 0.7)),color-stop(50%,rgba(229, 185, 114, 0.7)));
          background-image: -webkit-linear-gradient(90deg,rgba(130, 109, 53, 0.7),rgba(229, 185, 114, 0.7) 50%);
          background-image: linear-gradient(90deg, rgba(130, 109, 53, 0.7), rgba(229, 185, 114, 0.7) 50%);
					border-radius: 50%;
					position: absolute;
				}
			}
		}
	}
}