@import "mixin";

.services_page {
  padding-top: 0;
  background: url(../images/services_bg.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 0;

  .container-fluid {
    padding-left: 15px;
  }

  header{
    margin-bottom: 0;
    border: none;
  }

  .b_cooperation {
    background: url(../images/cooperation_service_bg.jpg) no-repeat;
    background-size: cover;
    padding: 67px 0 25px;
    @media (max-width: 1200px) {
      padding: 30px 0 0;
      background: url(../images/services_bg.jpg) no-repeat;
    }

    .tabs_category {
      @media (max-width: 1200px) {
        margin-bottom: 9px;
      }
    }

    .tabs_category .title_tabs_caregory:before {
      top: 9px !important;
      @include adaptive(767px) {
        top: 5px !important;
      }
    }

    .title_tabs_caregory {
      @media (max-width: 1200px) {
        font-size: 18px;
      }
      @include adaptive(767px) {
        font-size: 16px;
      }
    }
  }
  .right_cooperation,
  .left_cooperation,
  .left_conditions,
  .right_conditions, {
    @media (max-width: 1200px) {
      padding: 0 100px;
    }
    @include adaptive(767px) {
      padding: 0 50px;
    }
    @include adaptive(480px) {
      padding: 0 15px;
    }
  }
  .right_cooperation {
    margin-top: 112px;
    
    @media (max-width: 1200px) {
      margin-top: 0;
    }
  }

  .left_cooperation {
    margin-right: 35px;
    @media (max-width: 1200px) {
      margin-bottom: 43px;
      margin-right: 0;
    }

    p {
      width: 100%;
      @media (max-width: 1200px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .services__title {
    position: relative;
    margin: 0 0 36px 0;
    padding-bottom: 29px;
    font-family: 'PT Serif';
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #ebebeb;
    letter-spacing: 0.9px;
    @include adaptive(1200px) {
      text-align: center;
      font-size: 24px;
      line-height: normal;
      padding-bottom: 0;
      margin-bottom: 20px;
    }
    
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 2px;
      background-color: #979797;
      @include adaptive(1200px) {
        display: none;
      }
    }
  }

  .services__subtitle {
    margin-bottom: 21px;
    font-size: 18px;
    line-height: 26px;
    color: #ebebeb;
    @include adaptive(767px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .services__decription {
    margin-bottom: 0;
    font-family: 'HelveticaNeueCyr Roman';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #bdbcbc;
    letter-spacing: 0.24px;
    @include adaptive(767px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .description_order {
    margin-bottom: 20px;
  }

  .wrap_conditions {
    padding: 37px 0;
    @media (max-width: 1200px){
      padding: 18px 0 0 0;
    }
    .services__title {
      width: 77%;
      @media (max-width: 1200px){
        width: 52%;
        margin-left: auto;
        margin-right: auto;
      }
      @include adaptive(767px) {
        width: 80%;
      }
    }

    .services-row {
      @media (max-width: 1200px){
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  .left_conditions {
    margin-right: 35px;
    @media (max-width: 1200px){
      margin-bottom: 40px;
      margin-right: 0;
    }
    p {
      margin: 0;
    }

    p + p {
      margin-top: 20px;
    }
  }

  .right_conditions {
    margin-top: 94px;
    @media (max-width: 1200px){
      margin-bottom: 42px;
      margin-top: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

}