.single_product_page {
  padding-top: 0;
  padding-bottom: 200px;

  @media (max-width: 767px) {
    padding-bottom: 50px;
  }

  .slider_product {
    //margin-top: 35px;
    max-width: 567px;
    @media (max-width: 767px) {
      width: 100%;
      margin: auto;
      overflow: hidden;
    }

    .slick-slider .slick-track {
      min-width:100%;
    }

    .slick-dots {
      @media (max-width: 767px) {
        margin-top: 37px;
        justify-content: flex-end;
        margin-right: 40px;
      }
      @media (max-width: 640px){
        margin-right: 0;
      }
      @media (max-width: 560px){
      margin-top: 15px;
      margin-bottom: 28px;
      justify-content: center;
      }
    }
  }

  .slide_product {
    overflow: hidden;
    height: 567px;
    @media (max-width: 480px) {
      height: 400px;
    }

    &:focus {
      outline: none;
    }

    &:hover .slide_product_img{
      transform: scale(1.05);
    }

    .slide_product_img {
      transition: transform 0.2s ease-in-out;
    }
  }

  .slider_product_thumbs{
    display: none;
  }
  .slick-dots{
    list-style: none;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    li {
      float: left;
      width: 12px;
      height: 12px;
      cursor: pointer;
      overflow: hidden;
      border: 2px solid #515151;
      &:not(:last-child){
        margin-right: 10px;
      }

      &.slick-active {
        background-color: #e5b972;
        border-color: #e5b972;
      }
    }

    button{
      display: none;
    }
  }

  .col-product {
    margin-bottom: 88px;
    @media (max-width: 768px){
      margin-bottom: 39px;
    }
    @media (max-width: 640px){
      padding-left: 0;
      padding-right: 0;
    }
  }

  .product_name {
    position: relative;
    margin-top: -5px;
    margin-bottom: 25px;
    padding-bottom: 27px;
    font-size: 36px;
    color: #ebebeb;
    font-family: 'PT Serif';
    letter-spacing: 0.9px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 80px;
      height: 2px;
      background-color: #979797;
      
      @media (max-width: 768px){
        display: none;
      }
    }
    
    @media (max-width: 768px){
      margin-top: 50px;
      font-size: 25px;
    }

    &_visible-desktop {
      @media (max-width: 768px){
        display: none;
      }
    }
    
    &_visible-mobile {
      margin-top: 0;
      max-width: 567px;
      margin-bottom: 27px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 0;
      text-align: left;
      font-size: 24px;
      line-height: 42px;
      letter-spacing: 0.6px;
      @media (min-width: 767px){
        display: none;
      }
      @media (max-width: 480px){
        margin-bottom: 9px;
        font-size: 18px;
        text-align: left;
        letter-spacing: normal;
      }
    }
  }

  .product_article {
    color: #e5b972;
    font-family: 'HelveticaNeueCyr Roman';
    font-size: 18px;
    margin-bottom: 25px;
    @media (max-width: 767px){
      display: none;
    }
  }

  .description_product {
    margin-bottom: 44px;
    padding-right: 35px;
    font-size: 14px;
    color: #dedede;
    line-height: 20px;
    letter-spacing: 0.21px;
    font-family: 'HelveticaNeueCyr Roman';

    @media (max-width: 767px){
      font-size: 16px;
      letter-spacing: 0.24px;
      margin: 39px auto 40px auto;
      padding-right: 0;
      width: 83.5%;
    }

    @media (max-width: 640px){
      margin: 39px auto 40px auto;
      padding: 0 40px;
      width: 100%;
    }
    @media (max-width: 560px){
      margin-top: 0;
      margin-bottom: 18px;
    }

    @media (max-width: 480px){
      font-size: 12px;
    }

    p {
      margin: 0;
    }

    p + p {
      margin-bottom: 7px;
    }
  }

  .detail_product {
    border-top: 1px solid #e5b972;
    border-bottom: 1px solid #e5b972;
    padding: 23px 0 12px 0;
    margin-bottom: 25px;
    font-family: 'HelveticaNeueCyr Roman';
    @media (max-width: 767px){
      width: 83.5%;
      margin: 0 auto 0 auto;
      padding: 30px 35px;
    }
    @media (max-width: 640px){
      width: 100%;
      padding: 30px 35px 30px 75px;
    }
    @media (max-width: 480px){
      padding: 17px 25px 0px 25px;
      border-bottom: none;
    }

    .detail_char{
      margin-bottom: 18px;
      display: flex;
      align-items: baseline;
      

      &:last-child {
        margin-bottom: 0;
      }

      &:after{
        display: table;
        content: "";
        clear: both;
      }
      
      .detail_title, .detail_field{
        width: 57%;
        float: left;
        line-height: 24px;
        @media (max-width: 767px){
          width: 50%;
          line-height: 20px;
        }
      }
      .detail_title{
        width: 43%;
        @media (max-width: 767px){
          width: 50%;
        }
      }
      .detail_title{
        padding-right: 25px;
        font-family: 'HelveticaNeueCyr Roman';
        color: #e5b972;
        font-size: 16px;
        @media (max-width: 1600px){
          font-size: 16px;
        }
        
        @media (max-width: 480px){
          font-size: 12px;
        }
      }
      .detail_field {
        font-size: 16px;
        color: #ebebeb;        
        font-family: 'HelveticaNeueCyr Roman';
        @media (max-width: 1600px){
          font-size: 14px;
        }
        @media (max-width: 980px){
          padding-left: 5px;
        }
        @media (max-width: 767px){
          padding-left: 0px;
        }
        @media (max-width: 480px){
          font-size: 12px;
        }
      }
    }
  }

  .product_price-info {
    display: flex;
    align-items: center;
    font-family: 'HelveticaNeueCyr Roman';

    &_visible-mobile {
      position: absolute;
      bottom: -19px;
      right: 42.7%;
      @media (min-width: 768px){
        display: none;
      }
      @media (max-width: 560px){
        position: static;
        justify-content: center;
      }
      
      .product_price_new {
        @media (max-width: 560px){
          position: static;
          font-size: 20px;
          line-height: normal;
        }
      }

      .product_price_new_icon {
        @media (max-width: 560px){
          font-size: 19px;
        }
      }

      .product_price-old {
        font-size: 14px;
        line-height: normal;
      }

      .product_price_old_icon {
        @media (max-width: 560px){
          font-size: 14px;
        }
      }

    }

    &_visible-desktop {
      @media (max-width: 768px){
        display: none;
      }
    }
  }
  
  .product_price_new {
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    margin-right: 25px;
  }

  .product_price_new_icon {
    font-size: 36px;
    line-height: 36px;
  }

  .product_price-old {
    font-size: 17px;
    color: #e5b972;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1px;
      width: 100%;
      height: 1px;
      background-color: #e5b972;
    }
  }

  .product_price_old_icon {
    font-size: 15px;
  }
}

.latest-view {
  @media (max-width: 480px){
    display: none;
  }
}

.latest-view__title {
  margin-bottom: 28px;
  font-family: 'PT Serif';
  font-size: 26px;
  line-height: 26px;
  color:#d9dada;
  text-align: center;
  @media (max-width: 767px){
    font-size: 24px;
    line-height: 24px;
  }
}

.latest-view-slider {
  width: 100%;

  .slick-dots {
    margin-top: 22px;
  }
}

.latest-view__slide {
  display: block;
  border: 1px solid #fff;
  padding: 24px;
  height: 165px;
  width: 165px !important;
  margin: 0 7px;
  position: relative;

  @media (max-width: 767px){
    width: 120px !important;
    height: 120px;
    padding: 0;
    border: none;
  }
  &:hover .latest-view__imgbox {
    transform: scale(1.06);
  }
}

.latest-view__imgbox {
  transition: transform 0.2s ease-in-out;
}
