.b_sort_by_wrapper{
  display: flex;
  margin-bottom: 40px;
  &:after{
    display: table;
    content: "";
    clear: both;
  }
  @media (max-width: 1200px){
    display: none;
    position: absolute;
    //display: flex;
    z-index: 99;
    background: transparent;
    padding: 0px 0 10px 25px;
    right: 0;
    top: -145px;
      &.active{
      display: flex !important;
    }
  }
  @media (max-width: 1200px){
    top: -146px;
    flex-direction: column;
    width: 320px;
    padding: 50px 37px 27px 37px;
    background-color: #242424;
    margin-bottom: 0;
  }
  @media (max-width: 767px){
    width: 100%;
    height: 100vh;
    top: -280px;
  }
  .sort_by{
    display: flex;
    align-items: center;
    float: left;
    @media (max-width: 1200px){
      float: none;
      align-items: flex-start;
    }

    &:first-child{
      margin-right: 140px;
      position: relative;
      padding-right: 25px;
      &:after{
        background: url(../images/icon/arrow-pointing-to-down.png) no-repeat;
        position: absolute;
        content: "";
        width: 10px;
        height: 20px;
        right: 0;
        top: 15px;
      }
    }
    .label_sort{
      color: #ebebeb;
      font-family: 'Playfair Display Bold';
      font-size: 20px;
      margin-right: 26px;
        vertical-align: text-bottom;
        @media (max-width: 1200px){
          font-size: 14px;
          margin-bottom: 15px;
        }
    }
    @media (max-width: 1200px){
      display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        &:first-child{
          margin-right: 0;
          &:after{
            top: 45px;
          }
        }
        
    }
  }
  #sort_by_select-styler.jq-selectbox{
    width: 166px;
    cursor: pointer;
  }
  #display_count_select-styler.jq-selectbox{
    width: 95px;
    cursor: pointer;
  }

  .jq-selectbox{
    background: #3e3e3e;
    padding: 0;
    color: #a1a0a0;
    font-size: 16px;
    -webkit-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    -moz-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    @media (max-width: 1200px){
        font-size: 12px;
    }
    &.dropdown{
      box-shadow: none;
      .jq-selectbox__trigger-arrow{
        transform: rotate(180deg); 
      }
    }
    position: relative;
    .jq-selectbox__select{
      padding: 14px 15px;
    }
  }
  .jq-selectbox__trigger{
      position: absolute;
      right: 0;
      z-index: 5;
      right: 20px;
        top: 45%;
    .jq-selectbox__trigger-arrow{
      width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0;
        border-color: #fff transparent transparent;
    }
  }
  .jq-selectbox__dropdown{
    position: absolute;
    background: #3e3e3e;
    top: 0 !important;
    padding: 10px 15px;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    -moz-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.09);
    ul{
      margin: 0;
      li{
        font-size: 16px;
        line-height: 25px;
        color: #afaeae;
        cursor: pointer;
        margin-bottom: 5px;
        @media (max-width: 1200px){
            font-size: 12px;
          }
        &:hover{
            background-image: -webkit-gradient(linear,left right,90deg,color-stop(0,#826d35),color-stop(25%,#e5b972));
            background-image: -webkit-linear-gradient(90deg,#826d35,#e5b972 25%);
            background-image: linear-gradient(90deg,#826d35,#e5b972 25%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
      }
    } 
  }
}

.sort-row {
  position: relative;
}

.sort_btn_toogle_mob {
  @media (min-width: 1200px){
    display: none;
  }
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  top: -145px;
  background: #3c3c3c url(../images/icon/sort_icon.png) no-repeat center center;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.12);
  -moz-box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.12);
  box-shadow: 5px 5px 62px 16px rgba(0,0,0,0.12);

  @media (max-width: 1200px){
    top: -145px;
  }
  @media (max-width: 720px){
    top: -137px;
  }

}

.sort-item {
  list-style: none;
  display: flex;
  position: relative;
  padding-top: 18px;
  @media (min-width: 1200px){
    flex-direction: column;
    border-top: 1px solid #515151;
  }
  @media (max-width: 1200px){
    flex-direction: column;
  }

  
}
.sort-item:last-of-type {
  @media (min-width: 1200px){
    border-right: 1px solid #515151;
  }

  &:last-of-type .sort_item__btn{
    margin-right: 0;
    border-right-color: transparent;
  }
}


.sort_item__btn {
  position: relative;
  outline: none;
  background-color: transparent;
  margin-right: 15px;
  padding-right: 70px;
  font-family: 'HelveticaNeueCyr Roman';
  font-size: 17px;
  line-height: 31px;
  color: #fff;
  cursor: pointer;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 1px solid #fff;
  transition: color 0.2s ease-in-out;

  @media (max-width: 1200px){
    border-right: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    margin-right: 0;
    padding: 14px 0 14px 25px;
    text-align: left;
  }

  

  &:hover {
    color: #e5b972;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    border: 2px solid #e5b972;
    width: 9px;
    height: 9px;
    transition: margin 0.2s ease-in-out;
    border-left: 1px;
    border-bottom: 1px;
    margin-top: -8px;
    transform: rotate(135deg);
    //transition: transform 0.3s ease-in-out;

    @media (max-width: 767px){
      right: 73px;
    }
  }

  &.active {
    color: #e5b972;
    &:after {
      transform: rotate(-45deg);
    }
    @media (max-width: 1200px){
      border-color: #e5b972;
    }
    @media (max-width: 767px){
      border-bottom-width: 2px;
      border-color: #e5b972;
    }
  }
}

.sort_item__inner {
  margin-bottom: 0;
  padding: 13px 26px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  @media (min-width: 1051px){
    min-width: 280px;
  }
  @media (max-width: 1200px){
    padding: 0;
    margin: 0;
  }

  li {
    font-family: 'HelveticaNeueCyr Roman';
    font-size: 18px;
    line-height: 45px;
    color: #ebebeb;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    @media (max-width: 1200px){
      padding: 13px 0 13px 25px;
      line-height: normal;
    }

    &:hover {
      color: #e5b972;
    }
  }

  li:first-child {
    @media (max-width: 1200px){
      padding-top: 27px;
    }
  }
  
  li:not(:last-child) {
    border-bottom: 1px solid #979797;
    @media (max-width: 1200px){
      border-bottom: none;
    }
  }

  li:last-child {
    @media (max-width: 1200px){
      padding-bottom: 24px;
    }
  }

  &.active {
    @media (max-width: 1200px){
      border-bottom: 1px solid #fff;
    }
  }
}

.sort_item__inner,
.range-filter {
  position: absolute;
  top: 45px;
  z-index: 999;
  display: none;
  transition: opacity 0.3s ease-in-out;
  background-color: #4a4a4a;
  @media (max-width: 1200px){
    top: 85px;
  }
  @media (max-width: 1200px){
    position: static;
    background-color: #242424;
  }

  &:before {
    content: '';
    transition: all 0.3s ease-in;
    position: absolute; 
    left: 40px; 
    top: -21px; 
    border: 11px solid transparent;	
    border-bottom: 11px solid #4a4a4a;

    @media (max-width: 1200px){
      display: none;
    }
  }
}

.range-filter {
  width: 280px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  display: none;
  @media (max-width:1200px){
    left: -170px;
  }

  @media (max-width: 767px){
    width: 100%;
    padding: 20px 0;
  }

  &:before {
    @media (max-width:1200px){
      left: auto;
      right: 40px;
    }
  }
}

.sort_item__close {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 0;
  border: none;
  outline: none;
  background-color:#3c3c3c;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @media (min-width: 1200px){
    display: none;
  }

  @media (max-width: 1200px){
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #242424;
    right: 37px;
    top: 16px;
  }

  &:before,
  &:after {
    position: absolute;
    z-index: 99;
    top: 50%;
    content: '';
    width: 20px;
    height: 2px;
    background-color:#e5b972;
    transition: background-color 0,3s ease-in;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover:before,
  &:hover:after {
  background-color: #fff;
  }

  &.active {
    display: flex;
  }
}

/* .sort-overlay {
  position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(#000000, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 99;
    @media (max-width: 1200px){
      display: none;
    }
  &.active {
    opacity: 1;
    transition: opacity 0.3s ease;
    
  }
} */

.range-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
}
/* Ширина слайдера */
#range-slider  {	
  width: 100%;
  margin-bottom: 39px;
}

.range-btn {
  display: block;
  width: 100%;
  font-family: 'HelveticaNeueCyr Roman';
  border: 2px solid #fff;
  background-color: transparent;
  outline: none;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #e5b972;
    color: #4a4a4a;
    border-color:#e5b972;
  }
}

/* Контейнер слайдера */
.ui-slider {
  position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 25px;
  background: url(../images//icon/range.png) no-repeat; /* картинка изображающая ползунок.*/
  cursor: pointer
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 3px; /* задаем высоту согласно дизайна */
}

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
  top: -1px;
  margin-left: -12px;
  outline:none;
  border: none;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min { 
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* оформление полосы по которой ходит ползунок */
.ui-widget-content { 	 
  background: #fff;
}

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 	
  background-color: #e5b972;
}
/* скругление для полосы слайдера */
.ui-corner-all {
  border-radius: 4px;
}

#minCost, #maxCost {
  width: 100px;
  height: 40px;
  padding: 6px 2px;
  text-align: center;
  color: #273238;
  font-size: 15px;
  outline: none;
  background-color:#eaeaea; 
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

#minCost:hover, 
#maxCost:hover,
#minCost:active, 
#maxCost:active,
#minCost:focus, 
#maxCost:focus {
  border-color: #e5b972;
}

.container input {
  border: 1px solid #ccc;
  padding: 5px 7px;
  font-size: 90%;
  letter-spacing: 0.5px;
  color: #2A2A2A;
}